
body{
    margin:0;
    padding:0;
    color:#1f1f1f;
    height:100%;
    position:relative;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-family:"MuseoSansCyrl",Arial,Tahoma,sans-serif;
    font-size:16px
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,menu,nav,output,ruby,section,summary,time,mark,audio,video{
    margin:0;
    padding:0;
    border:0
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main{
    display:block
}
body{
    line-height:1
}
blockquote,q{
    quotes:none
}
blockquote:before,blockquote:after,q:before,q:after{
    content:''
}
table{
    border-collapse:collapse;
    border-width:0;
    padding:0;
    margin:0
}
html{
    height:100%;
    -webkit-text-size-adjust:none;
    -ms-text-size-adjust:none
}
input,textarea{
    color:#333;
    outline:none;
    border-radius:0;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    -webkit-appearance:none;
    border:none
}
textarea{
    resize:none;
    overflow:auto
}
input[type="button"],input[type="submit"],button{
    cursor:pointer;
    border:none
}
input[type=search]{
    border:none
}
td{
    margin:0;
    padding:0
}
form{
    padding:0;
    margin:0
}
a{
    color:#1f1f1f;
    text-decoration:none;
    outline:none !important;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
    transition:all .3s ease
}
.btn{
    outline:none !important
}
input[type=submit],input[type=button],button{
    -webkit-appearance:none;
    outline:none;
    padding:0
}
:focus::-webkit-input-placeholder{
    opacity:0;
    transition:opacity .3s ease
}
:focus::-moz-placeholder{
    opacity:0;
    transition:opacity .3s ease
}
:focus:-moz-placeholder{
    opacity:0;
    transition:opacity .3s ease
}
:focus:-ms-input-placeholder{
    opacity:0;
    transition:opacity .3s ease
}
*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
*:before,*:after{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.clearfix:after,.wrapper:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden
}
ul,ol{
    margin:0;
    padding:0
}
ul li,ol li{
    list-style:none
}
*:focus{
    outline:none
}
.btn-default,.btn-primary,.btn-success,.btn-info,.btn-warning,.btn-danger{
    text-shadow:0 -1px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.15),0 1px 1px rgba(0,0,0,0.075);
    box-shadow:inset 0 1px 0 rgba(255,255,255,0.15),0 1px 1px rgba(0,0,0,0.075)
}
.btn-default:active,.btn-primary:active,.btn-success:active,.btn-info:active,.btn-warning:active,.btn-danger:active,.btn-default.active,.btn-primary.active,.btn-success.active,.btn-info.active,.btn-warning.active,.btn-danger.active{
    -webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);
    box-shadow:inset 0 3px 5px rgba(0,0,0,0.125)
}
.btn-default.disabled,.btn-primary.disabled,.btn-success.disabled,.btn-info.disabled,.btn-warning.disabled,.btn-danger.disabled,.btn-default[disabled],.btn-primary[disabled],.btn-success[disabled],.btn-info[disabled],.btn-warning[disabled],.btn-danger[disabled],fieldset[disabled] .btn-default,fieldset[disabled] .btn-primary,fieldset[disabled] .btn-success,fieldset[disabled] .btn-info,fieldset[disabled] .btn-warning,fieldset[disabled] .btn-danger{
    -webkit-box-shadow:none;
    box-shadow:none
}
.btn-default .badge,.btn-primary .badge,.btn-success .badge,.btn-info .badge,.btn-warning .badge,.btn-danger .badge{
    text-shadow:none
}
.btn:active,.btn.active{
    background-image:none
}
.btn-default{
    border-color:#dbdbdb;
    text-shadow:0 1px 0 #fff;
    border-color:#ccc
}
.btn-default:hover,.btn-default:focus{
    background-color:#e0e0e0;
    background-position:0 -15px
}
.btn-default:active,.btn-default.active{
    background-color:#e0e0e0;
    border-color:#dbdbdb
}
.btn-default.disabled,.btn-default[disabled],fieldset[disabled] .btn-default,.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled.focus,.btn-default[disabled].focus,fieldset[disabled] .btn-default.focus,.btn-default.disabled:active,.btn-default[disabled]:active,fieldset[disabled] .btn-default:active,.btn-default.disabled.active,.btn-default[disabled].active,fieldset[disabled] .btn-default.active{
    background-color:#e0e0e0;
    background-image:none
}
.btn-primary{
    background-image:-webkit-linear-gradient(top, #1d1c29 0, #030305 100%);
    background-image:-o-linear-gradient(top, #1d1c29 0, #030305 100%);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #1d1c29), to(#030305));
    background-image:linear-gradient(to bottom, #1d1c29 0, #030305 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1d1c29', endColorstr='#ff030305', GradientType=0);
    filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat:repeat-x;
    border-color:#000
}
.btn-primary:hover,.btn-primary:focus{
    background-color:#030305;
    background-position:0 -15px
}
.btn-primary:active,.btn-primary.active{
    background-color:#030305;
    border-color:#000
}
.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled.focus,.btn-primary[disabled].focus,fieldset[disabled] .btn-primary.focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active{
    background-color:#030305;
    background-image:none
}
.btn-success{
    background-image:-webkit-linear-gradient(top, #3cb878 0, #2d8a5a 100%);
    background-image:-o-linear-gradient(top, #3cb878 0, #2d8a5a 100%);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #3cb878), to(#2d8a5a));
    background-image:linear-gradient(to bottom, #3cb878 0, #2d8a5a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3cb878', endColorstr='#ff2d8a5a', GradientType=0);
    filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat:repeat-x;
    border-color:#2a8255
}
.btn-success:hover,.btn-success:focus{
    background-color:#2d8a5a;
    background-position:0 -15px
}
.btn-success:active,.btn-success.active{
    background-color:#2d8a5a;
    border-color:#2a8255
}
.btn-success.disabled,.btn-success[disabled],fieldset[disabled] .btn-success,.btn-success.disabled:hover,.btn-success[disabled]:hover,fieldset[disabled] .btn-success:hover,.btn-success.disabled:focus,.btn-success[disabled]:focus,fieldset[disabled] .btn-success:focus,.btn-success.disabled.focus,.btn-success[disabled].focus,fieldset[disabled] .btn-success.focus,.btn-success.disabled:active,.btn-success[disabled]:active,fieldset[disabled] .btn-success:active,.btn-success.disabled.active,.btn-success[disabled].active,fieldset[disabled] .btn-success.active{
    background-color:#2d8a5a;
    background-image:none
}
.btn-info{
    background-image:-webkit-linear-gradient(top, #497ba4 0, #365b7a 100%);
    background-image:-o-linear-gradient(top, #497ba4 0, #365b7a 100%);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #497ba4), to(#365b7a));
    background-image:linear-gradient(to bottom, #497ba4 0, #365b7a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff497ba4', endColorstr='#ff365b7a', GradientType=0);
    filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat:repeat-x;
    border-color:#335673
}
.btn-info:hover,.btn-info:focus{
    background-color:#365b7a;
    background-position:0 -15px
}
.btn-info:active,.btn-info.active{
    background-color:#365b7a;
    border-color:#335673
}
.btn-info.disabled,.btn-info[disabled],fieldset[disabled] .btn-info,.btn-info.disabled:hover,.btn-info[disabled]:hover,fieldset[disabled] .btn-info:hover,.btn-info.disabled:focus,.btn-info[disabled]:focus,fieldset[disabled] .btn-info:focus,.btn-info.disabled.focus,.btn-info[disabled].focus,fieldset[disabled] .btn-info.focus,.btn-info.disabled:active,.btn-info[disabled]:active,fieldset[disabled] .btn-info:active,.btn-info.disabled.active,.btn-info[disabled].active,fieldset[disabled] .btn-info.active{
    background-color:#365b7a;
    background-image:none
}
.btn-warning{
    background-image:-webkit-linear-gradient(top, #f6b559 0, #f39b1f 100%);
    background-image:-o-linear-gradient(top, #f6b559 0, #f39b1f 100%);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #f6b559), to(#f39b1f));
    background-image:linear-gradient(to bottom, #f6b559 0, #f39b1f 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6b559', endColorstr='#fff39b1f', GradientType=0);
    filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat:repeat-x;
    border-color:#f29715
}
.btn-warning:hover,.btn-warning:focus{
    background-color:#f39b1f;
    background-position:0 -15px
}
.btn-warning:active,.btn-warning.active{
    background-color:#f39b1f;
    border-color:#f29715
}
.btn-warning.disabled,.btn-warning[disabled],fieldset[disabled] .btn-warning,.btn-warning.disabled:hover,.btn-warning[disabled]:hover,fieldset[disabled] .btn-warning:hover,.btn-warning.disabled:focus,.btn-warning[disabled]:focus,fieldset[disabled] .btn-warning:focus,.btn-warning.disabled.focus,.btn-warning[disabled].focus,fieldset[disabled] .btn-warning.focus,.btn-warning.disabled:active,.btn-warning[disabled]:active,fieldset[disabled] .btn-warning:active,.btn-warning.disabled.active,.btn-warning[disabled].active,fieldset[disabled] .btn-warning.active{
    background-color:#f39b1f;
    background-image:none
}
.btn-danger{
    background-image:-webkit-linear-gradient(top, #f26c4f 0, #ee3c16 100%);
    background-image:-o-linear-gradient(top, #f26c4f 0, #ee3c16 100%);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #f26c4f), to(#ee3c16));
    background-image:linear-gradient(to bottom, #f26c4f 0, #ee3c16 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff26c4f', endColorstr='#ffee3c16', GradientType=0);
    filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat:repeat-x;
    border-color:#e83711
}
.btn-danger:hover,.btn-danger:focus{
    background-color:#ee3c16;
    background-position:0 -15px
}
.btn-danger:active,.btn-danger.active{
    background-color:#ee3c16;
    border-color:#e83711
}
.btn-danger.disabled,.btn-danger[disabled],fieldset[disabled] .btn-danger,.btn-danger.disabled:hover,.btn-danger[disabled]:hover,fieldset[disabled] .btn-danger:hover,.btn-danger.disabled:focus,.btn-danger[disabled]:focus,fieldset[disabled] .btn-danger:focus,.btn-danger.disabled.focus,.btn-danger[disabled].focus,fieldset[disabled] .btn-danger.focus,.btn-danger.disabled:active,.btn-danger[disabled]:active,fieldset[disabled] .btn-danger:active,.btn-danger.disabled.active,.btn-danger[disabled].active,fieldset[disabled] .btn-danger.active{
    background-color:#ee3c16;
    background-image:none
}
.thumbnail,.img-thumbnail{
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.075);
    box-shadow:0 1px 2px rgba(0,0,0,0.075)
}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus{
    background-image:-webkit-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
    background-image:-o-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f5f5), to(#e8e8e8));
    background-image:linear-gradient(to bottom, #f5f5f5 0, #e8e8e8 100%);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-color:#e8e8e8
}
.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus{
    background-image:-webkit-linear-gradient(top, #1d1c29 0, #12111a 100%);
    background-image:-o-linear-gradient(top, #1d1c29 0, #12111a 100%);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #1d1c29), to(#12111a));
    background-image:linear-gradient(to bottom, #1d1c29 0, #12111a 100%);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1d1c29', endColorstr='#ff12111a', GradientType=0);
    background-color:#12111a
}
.navbar-default{
    background-image:-webkit-linear-gradient(top, #433f62 0, #2e2b43 100%);
    background-image:-o-linear-gradient(top, #433f62 0, #2e2b43 100%);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #433f62), to(#2e2b43));
    background-image:linear-gradient(to bottom, #433f62 0, #2e2b43 100%);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff433f62', endColorstr='#ff2e2b43', GradientType=0);
    filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.15),0 1px 5px rgba(0,0,0,0.075);
    box-shadow:inset 0 1px 0 rgba(255,255,255,0.15),0 1px 5px rgba(0,0,0,0.075)
}
.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.active>a{
    background-image:-webkit-linear-gradient(top, #15141f 0, #1c1a29 100%);
    background-image:-o-linear-gradient(top, #15141f 0, #1c1a29 100%);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #15141f), to(#1c1a29));
    background-image:linear-gradient(to bottom, #15141f 0, #1c1a29 100%);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff15141f', endColorstr='#ff1c1a29', GradientType=0);
    -webkit-box-shadow:inset 0 3px 9px rgba(0,0,0,0.075);
    box-shadow:inset 0 3px 9px rgba(0,0,0,0.075)
}
.navbar-brand,.navbar-nav>li>a{
    text-shadow:0 1px 0 rgba(255,255,255,0.25)
}
.navbar-inverse{
    background-image:-webkit-linear-gradient(top, #3c3c3c 0, #222 100%);
    background-image:-o-linear-gradient(top, #3c3c3c 0, #222 100%);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #3c3c3c), to(#222));
    background-image:linear-gradient(to bottom, #3c3c3c 0, #222 100%);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
    filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border-radius:4px
}
.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.active>a{
    background-image:-webkit-linear-gradient(top, #080808 0, #0f0f0f 100%);
    background-image:-o-linear-gradient(top, #080808 0, #0f0f0f 100%);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #080808), to(#0f0f0f));
    background-image:linear-gradient(to bottom, #080808 0, #0f0f0f 100%);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff080808', endColorstr='#ff0f0f0f', GradientType=0);
    -webkit-box-shadow:inset 0 3px 9px rgba(0,0,0,0.25);
    box-shadow:inset 0 3px 9px rgba(0,0,0,0.25)
}
.navbar-inverse .navbar-brand,.navbar-inverse .navbar-nav>li>a{
    text-shadow:0 -1px 0 rgba(0,0,0,0.25)
}
.navbar-static-top,.navbar-fixed-top,.navbar-fixed-bottom{
    border-radius:0
}
@media (max-width:767px){
    .navbar .navbar-nav .open .dropdown-menu>.active>a,.navbar .navbar-nav .open .dropdown-menu>.active>a:hover,.navbar .navbar-nav .open .dropdown-menu>.active>a:focus{
        color:#fff;
        background-image:-webkit-linear-gradient(top, #1d1c29 0, #12111a 100%);
        background-image:-o-linear-gradient(top, #1d1c29 0, #12111a 100%);
        background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #1d1c29), to(#12111a));
        background-image:linear-gradient(to bottom, #1d1c29 0, #12111a 100%);
        background-repeat:repeat-x;
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1d1c29', endColorstr='#ff12111a', GradientType=0)
    }
}
.alert{
    text-shadow:0 1px 0 rgba(255,255,255,0.2);
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.25),0 1px 2px rgba(0,0,0,0.05);
    box-shadow:inset 0 1px 0 rgba(255,255,255,0.25),0 1px 2px rgba(0,0,0,0.05)
}
.alert-success{
    background-image:-webkit-linear-gradient(top, #3cb878 0, #339b65 100%);
    background-image:-o-linear-gradient(top, #3cb878 0, #339b65 100%);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #3cb878), to(#339b65));
    background-image:linear-gradient(to bottom, #3cb878 0, #339b65 100%);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3cb878', endColorstr='#ff339b65', GradientType=0);
    border-color:#297e52
}
.alert-info{
    background-image:-webkit-linear-gradient(top, #77b1d6 0, #5aa0cd 100%);
    background-image:-o-linear-gradient(top, #77b1d6 0, #5aa0cd 100%);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #77b1d6), to(#5aa0cd));
    background-image:linear-gradient(to bottom, #77b1d6 0, #5aa0cd 100%);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff77b1d6', endColorstr='#ff5aa0cd', GradientType=0);
    border-color:#3c8fc4
}
.alert-warning{
    background-image:-webkit-linear-gradient(top, #f6b559 0, #f4a535 100%);
    background-image:-o-linear-gradient(top, #f6b559 0, #f4a535 100%);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #f6b559), to(#f4a535));
    background-image:linear-gradient(to bottom, #f6b559 0, #f4a535 100%);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6b559', endColorstr='#fff4a535', GradientType=0);
    border-color:#f29510
}
.alert-danger{
    background-image:-webkit-linear-gradient(top, #f26c4f 0, #ef4e2b 100%);
    background-image:-o-linear-gradient(top, #f26c4f 0, #ef4e2b 100%);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #f26c4f), to(#ef4e2b));
    background-image:linear-gradient(to bottom, #f26c4f 0, #ef4e2b 100%);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff26c4f', endColorstr='#ffef4e2b', GradientType=0);
    border-color:#e43611
}
.progress{
    background-image:-webkit-linear-gradient(top, #ebebeb 0, #f5f5f5 100%);
    background-image:-o-linear-gradient(top, #ebebeb 0, #f5f5f5 100%);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #ebebeb), to(#f5f5f5));
    background-image:linear-gradient(to bottom, #ebebeb 0, #f5f5f5 100%);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0)
}
.progress-bar{
    background-image:-webkit-linear-gradient(top, #1d1c29 0, #08070b 100%);
    background-image:-o-linear-gradient(top, #1d1c29 0, #08070b 100%);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #1d1c29), to(#08070b));
    background-image:linear-gradient(to bottom, #1d1c29 0, #08070b 100%);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1d1c29', endColorstr='#ff08070b', GradientType=0)
}
.progress-bar-success{
    background-image:-webkit-linear-gradient(top, #3cb878 0, #2f925f 100%);
    background-image:-o-linear-gradient(top, #3cb878 0, #2f925f 100%);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #3cb878), to(#2f925f));
    background-image:linear-gradient(to bottom, #3cb878 0, #2f925f 100%);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3cb878', endColorstr='#ff2f925f', GradientType=0)
}
.progress-bar-info{
    background-image:-webkit-linear-gradient(top, #497ba4 0, #396181 100%);
    background-image:-o-linear-gradient(top, #497ba4 0, #396181 100%);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #497ba4), to(#396181));
    background-image:linear-gradient(to bottom, #497ba4 0, #396181 100%);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff497ba4', endColorstr='#ff396181', GradientType=0)
}
.progress-bar-warning{
    background-image:-webkit-linear-gradient(top, #f6b559 0, #f39f29 100%);
    background-image:-o-linear-gradient(top, #f6b559 0, #f39f29 100%);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #f6b559), to(#f39f29));
    background-image:linear-gradient(to bottom, #f6b559 0, #f39f29 100%);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6b559', endColorstr='#fff39f29', GradientType=0)
}
.progress-bar-danger{
    background-image:-webkit-linear-gradient(top, #f26c4f 0, #ee4420 100%);
    background-image:-o-linear-gradient(top, #f26c4f 0, #ee4420 100%);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #f26c4f), to(#ee4420));
    background-image:linear-gradient(to bottom, #f26c4f 0, #ee4420 100%);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff26c4f', endColorstr='#ffee4420', GradientType=0)
}
.progress-bar-striped{
    background-image:-webkit-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
    background-image:-o-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
    background-image:linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent)
}
.list-group{
    border-radius:4px;
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.075);
    box-shadow:0 1px 2px rgba(0,0,0,0.075)
}
.list-group-item.active,.list-group-item.active:hover,.list-group-item.active:focus{
    text-shadow:0 -1px 0 #08070b;
    background-image:-webkit-linear-gradient(top, #1d1c29 0, #0d0c12 100%);
    background-image:-o-linear-gradient(top, #1d1c29 0, #0d0c12 100%);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #1d1c29), to(#0d0c12));
    background-image:linear-gradient(to bottom, #1d1c29 0, #0d0c12 100%);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1d1c29', endColorstr='#ff0d0c12', GradientType=0);
    border-color:#0d0c12
}
.list-group-item.active .badge,.list-group-item.active:hover .badge,.list-group-item.active:focus .badge{
    text-shadow:none
}
.panel{
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.05);
    box-shadow:0 1px 2px rgba(0,0,0,0.05)
}
.panel-default>.panel-heading{
    background-image:-webkit-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
    background-image:-o-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f5f5), to(#e8e8e8));
    background-image:linear-gradient(to bottom, #f5f5f5 0, #e8e8e8 100%);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0)
}
.panel-primary>.panel-heading{
    background-image:-webkit-linear-gradient(top, #1d1c29 0, #12111a 100%);
    background-image:-o-linear-gradient(top, #1d1c29 0, #12111a 100%);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #1d1c29), to(#12111a));
    background-image:linear-gradient(to bottom, #1d1c29 0, #12111a 100%);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1d1c29', endColorstr='#ff12111a', GradientType=0)
}
.panel-success>.panel-heading{
    background-image:-webkit-linear-gradient(top, #3cb878 0, #36a56b 100%);
    background-image:-o-linear-gradient(top, #3cb878 0, #36a56b 100%);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #3cb878), to(#36a56b));
    background-image:linear-gradient(to bottom, #3cb878 0, #36a56b 100%);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3cb878', endColorstr='#ff36a56b', GradientType=0)
}
.panel-info>.panel-heading{
    background-image:-webkit-linear-gradient(top, #77b1d6 0, #63a6d0 100%);
    background-image:-o-linear-gradient(top, #77b1d6 0, #63a6d0 100%);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #77b1d6), to(#63a6d0));
    background-image:linear-gradient(to bottom, #77b1d6 0, #63a6d0 100%);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff77b1d6', endColorstr='#ff63a6d0', GradientType=0)
}
.panel-warning>.panel-heading{
    background-image:-webkit-linear-gradient(top, #f6b559 0, #f5aa41 100%);
    background-image:-o-linear-gradient(top, #f6b559 0, #f5aa41 100%);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #f6b559), to(#f5aa41));
    background-image:linear-gradient(to bottom, #f6b559 0, #f5aa41 100%);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6b559', endColorstr='#fff5aa41', GradientType=0)
}
.panel-danger>.panel-heading{
    background-image:-webkit-linear-gradient(top, #f26c4f 0, #f05837 100%);
    background-image:-o-linear-gradient(top, #f26c4f 0, #f05837 100%);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #f26c4f), to(#f05837));
    background-image:linear-gradient(to bottom, #f26c4f 0, #f05837 100%);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff26c4f', endColorstr='#fff05837', GradientType=0)
}
.well{
    background-image:-webkit-linear-gradient(top, #e8e8e8 0, #f5f5f5 100%);
    background-image:-o-linear-gradient(top, #e8e8e8 0, #f5f5f5 100%);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #e8e8e8), to(#f5f5f5));
    background-image:linear-gradient(to bottom, #e8e8e8 0, #f5f5f5 100%);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0);
    border-color:#dcdcdc;
    -webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.05),0 1px 0 rgba(255,255,255,0.1);
    box-shadow:inset 0 1px 3px rgba(0,0,0,0.05),0 1px 0 rgba(255,255,255,0.1)
}
.row-eq-height{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex
}
@font-face{
    font-family:'MuseoSansCyrl';
    src:url('../fonts/MuseoSansCyrl-100.eot?21112016');
    src:url('../fonts/MuseoSansCyrl-100.eot?#iefix?21112016?21112016') format('embedded-opentype'),url('../fonts/MuseoSansCyrl-100.woff?21112016') format('woff'),url('../fonts/MuseoSansCyrl-100.ttf?21112016') format('truetype'),url('../fonts/MuseoSansCyrl-100.otf?21112016') format('opentype'),url('../fonts/MuseoSansCyrl-100.svg#MuseoSansCyrl-500?21112016') format('svg');
    font-weight:100;
    font-style:normal;
    font-stretch:normal;
    unicode-range:U+0020-FB04
}
@font-face{
    font-family:'MuseoSansCyrl';
    src:url('../fonts/MuseoSansCyrl-300.eot?21112016');
    src:url('../fonts/MuseoSansCyrl-300.eot?#iefix?21112016') format('embedded-opentype'),url('../fonts/MuseoSansCyrl-300.woff?21112016') format('woff'),url('../fonts/MuseoSansCyrl-300.ttf?21112016') format('truetype'),url('../fonts/MuseoSansCyrl-300.otf?21112016') format('opentype'),url('../fonts/MuseoSansCyrl-300.svg#MuseoSansCyrl-500?21112016') format('svg');
    font-weight:300;
    font-style:normal;
    font-stretch:normal;
    unicode-range:U+0020-FB04
}
@font-face{
    font-family:'MuseoSansCyrl';
    src:url('../fonts/MuseoSansCyrl-500.eot?21112016');
    src:url('../fonts/MuseoSansCyrl-500.eot?#iefix?21112016') format('embedded-opentype'),url('../fonts/MuseoSansCyrl-500.woff?21112016') format('woff'),url('../fonts/MuseoSansCyrl-500.ttf?21112016') format('truetype'),url('../fonts/MuseoSansCyrl-500.otf?21112016') format('opentype'),url('../fonts/MuseoSansCyrl-500.svg#MuseoSansCyrl-500?21112016') format('svg');
    font-weight:500;
    font-style:normal;
    font-stretch:normal;
    unicode-range:U+0020-FB04
}
@font-face{
    font-family:'MuseoSansCyrl';
    src:url('../fonts/MuseoSansCyrl-700.eot?21112016');
    src:url('../fonts/MuseoSansCyrl-700.eot?#iefix?21112016') format('embedded-opentype'),url('../fonts/MuseoSansCyrl-700.woff?21112016') format('woff'),url('../fonts/MuseoSansCyrl-700.ttf?21112016') format('truetype'),url('../fonts/MuseoSansCyrl-700.otf?21112016') format('opentype'),url('../fonts/MuseoSansCyrl-700.svg#MuseoSansCyrl-500?21112016') format('svg');
    font-weight:700;
    font-style:normal;
    font-stretch:normal;
    unicode-range:U+0020-FB04
}
@font-face{
    font-family:'MuseoSansCyrl';
    src:url('../fonts/MuseoSansCyrl-900.eot?21112016');
    src:url('../fonts/MuseoSansCyrl-900.eot?#iefix?21112016') format('embedded-opentype'),url('../fonts/MuseoSansCyrl-900.woff?21112016') format('woff'),url('../fonts/MuseoSansCyrl-900.ttf?21112016') format('truetype'),url('../fonts/MuseoSansCyrl-900.svg#MuseoSansCyrl-900?21112016') format('svg');
    font-weight:900;
    font-style:normal;
    font-stretch:normal;
    unicode-range:U+0020-FB04
}
@font-face{
    font-family:'PFDinTextCondPro';
    src:url('../fonts/PFDinTextCondPro-Bold.ttf');
    src:url('../fonts/PFDinTextCondPro-Bold.ttf') format('truetype');
    font-weight:900;
    font-style:normal;
    font-stretch:normal;
    unicode-range:U+0020-FB04
}
@font-face{
    font-family:'PFDinTextCondPro';
    src:url('../fonts/PFDinTextCondPro-BoldItal.ttf');
    src:url('../fonts/PFDinTextCondPro-BoldItal.ttf') format('truetype');
    font-weight:900;
    font-style:italic;
    font-stretch:normal;
    unicode-range:U+0020-FB04
}
@font-face{
    font-family:'PFDinTextCondPro';
    src:url('../fonts/PFDinTextCondPro-Italic.ttf');
    src:url('../fonts/PFDinTextCondPro-Italic.ttf') format('truetype');
    font-weight:500;
    font-style:italic;
    font-stretch:normal;
    unicode-range:U+0020-FB04
}
@font-face{
    font-family:'PFDinTextCondPro';
    src:url('../fonts/PFDinTextCondPro-Light.ttf');
    src:url('../fonts/PFDinTextCondPro-Light.ttf') format('truetype');
    font-weight:300;
    font-style:normal;
    font-stretch:normal;
    unicode-range:U+0020-FB04
}
@font-face{
    font-family:'PFDinTextCondPro';
    src:url('../fonts/PFDinTextCondPro-Medium.ttf');
    src:url('../fonts/PFDinTextCondPro-Medium.ttf') format('truetype');
    font-weight:500;
    font-style:normal;
    font-stretch:normal;
    unicode-range:U+0020-FB04
}
@font-face{
    font-family:'PFDinTextCondPro';
    src:url('../fonts/PFDinTextCondPro-Regular.ttf');
    src:url('../fonts/PFDinTextCondPro-Regular.ttf') format('truetype');
    font-weight:700;
    font-style:normal;
    font-stretch:normal;
    unicode-range:U+0020-FB04
}
@font-face{
    font-family:'PFDinTextCondPro';
    src:url('../fonts/PFDinTextCondPro-Thin.ttf');
    src:url('../fonts/PFDinTextCondPro-Thin.ttf') format('truetype');
    font-weight:100;
    font-style:normal;
    font-stretch:normal;
    unicode-range:U+0020-FB04
}
@keyframes slidedown{
    from{
        transform:translateY(-100%)
    }
    to{
        transform:translateY(0)
    }
}
@-o-keyframes slidedown{
    from{
        transform:translateY(-100%);
        -o-transform:translateY(-100%)
    }
    to{
        transform:translateY(0);
        -o-transform:translateY(0)
    }
}
@-ms-keyframes slidedown{
    from{
        transform:translateY(-100%);
        -ms-transform:translateY(-100%)
    }
    to{
        transform:translateY(0);
        -ms-transform:translateY(0)
    }
}
@-webkit-keyframes slidedown{
    from{
        transform:translateY(-100%);
        -webkit-transform:translateY(-100%)
    }
    to{
        transform:translateY(0);
        -webkit-transform:translateY(0)
    }
}
@-moz-keyframes slidedown{
    from{
        transform:translateY(-100%);
        -moz-transform:translateY(-100%)
    }
    to{
        transform:translateY(0);
        -moz-transform:translateY(0)
    }
}
@-webkit-keyframes pulse{
    0%{
        -webkit-transform:scale(.9);
        -moz-transform:scale(.9);
        -ms-transform:scale(.9);
        -o-transform:scale(.9);
        transform:scale(.9)
    }
    70%{
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1);
        box-shadow:0 0 0 50px rgba(69,184,120,0)
    }
    100%{
        -webkit-transform:scale(.9);
        -moz-transform:scale(.9);
        -ms-transform:scale(.9);
        -o-transform:scale(.9);
        transform:scale(.9);
        box-shadow:0 0 0 0 rgba(69,184,120,0)
    }
}
@keyframes pulse{
    0%{
        -webkit-transform:scale(.9);
        -moz-transform:scale(.9);
        -ms-transform:scale(.9);
        -o-transform:scale(.9);
        transform:scale(.9)
    }
    70%{
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1);
        box-shadow:0 0 0 50px rgba(69,184,120,0)
    }
    100%{
        -webkit-transform:scale(.9);
        -moz-transform:scale(.9);
        -ms-transform:scale(.9);
        -o-transform:scale(.9);
        transform:scale(.9);
        box-shadow:0 0 0 0 rgba(69,184,120,0)
    }
}
@-webkit-keyframes pulsescale{
    0%{
        -webkit-transform:scale(.9);
        -moz-transform:scale(.9);
        -ms-transform:scale(.9);
        -o-transform:scale(.9);
        transform:scale(.9)
    }
    70%{
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1)
    }
    100%{
        -webkit-transform:scale(.9);
        -moz-transform:scale(.9);
        -ms-transform:scale(.9);
        -o-transform:scale(.9);
        transform:scale(.9)
    }
}
@keyframes pulsescale{
    0%{
        -webkit-transform:scale(.9);
        -moz-transform:scale(.9);
        -ms-transform:scale(.9);
        -o-transform:scale(.9);
        transform:scale(.9)
    }
    70%{
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1)
    }
    100%{
        -webkit-transform:scale(.9);
        -moz-transform:scale(.9);
        -ms-transform:scale(.9);
        -o-transform:scale(.9);
        transform:scale(.9)
    }
}
@keyframes bgzoom{
    0%{
        background-size:140%
    }
    100%{
        background-size:100%
    }
}
@-webkit-keyframes bgzoom{
    0%{
        background-size:140%
    }
    100%{
        background-size:100%
    }
}
@keyframes flyingrobo{
    0%{
        -webkit-transform:translateY(14px);
        -moz-transform:translateY(14px);
        -ms-transform:translateY(14px);
        -o-transform:translateY(14px);
        transform:translateY(14px)
    }
    50%{
        -webkit-transform:translateY(10px);
        -moz-transform:translateY(10px);
        -ms-transform:translateY(10px);
        -o-transform:translateY(10px);
        transform:translateY(10px)
    }
    100%{
        -webkit-transform:translateY(14px);
        -moz-transform:translateY(14px);
        -ms-transform:translateY(14px);
        -o-transform:translateY(14px);
        transform:translateY(14px)
    }
}
@-webkit-keyframes flyingrobo{
    0%{
        -webkit-transform:translateY(14px);
        -moz-transform:translateY(14px);
        -ms-transform:translateY(14px);
        -o-transform:translateY(14px);
        transform:translateY(14px)
    }
    50%{
        -webkit-transform:translateY(10px);
        -moz-transform:translateY(10px);
        -ms-transform:translateY(10px);
        -o-transform:translateY(10px);
        transform:translateY(10px)
    }
    100%{
        -webkit-transform:translateY(14px);
        -moz-transform:translateY(14px);
        -ms-transform:translateY(14px);
        -o-transform:translateY(14px);
        transform:translateY(14px)
    }
}
@-webkit-keyframes flip_reverse{
    0%,100%{
        -webkit-transform:rotateY(0deg);
        -moz-transform:rotateY(0deg);
        -ms-transform:rotateY(0deg);
        -o-transform:rotateY(0deg);
        transform:rotateY(0deg)
    }
    50%{
        -webkit-transform:rotateY(180deg);
        -moz-transform:rotateY(180deg);
        -ms-transform:rotateY(180deg);
        -o-transform:rotateY(180deg);
        transform:rotateY(180deg)
    }
}
@keyframes flip_reverse{
    0%,100%{
        -webkit-transform:rotateY(0deg);
        -moz-transform:rotateY(0deg);
        -ms-transform:rotateY(0deg);
        -o-transform:rotateY(0deg);
        transform:rotateY(0deg)
    }
    50%{
        -webkit-transform:rotateY(180deg);
        -moz-transform:rotateY(180deg);
        -ms-transform:rotateY(180deg);
        -o-transform:rotateY(180deg);
        transform:rotateY(180deg)
    }
}
@-webkit-keyframes flip_averse{
    0%,100%{
        -webkit-transform:rotateY(180deg);
        -moz-transform:rotateY(180deg);
        -ms-transform:rotateY(180deg);
        -o-transform:rotateY(180deg);
        transform:rotateY(180deg)
    }
    50%{
        -webkit-transform:rotateY(0deg);
        -moz-transform:rotateY(0deg);
        -ms-transform:rotateY(0deg);
        -o-transform:rotateY(0deg);
        transform:rotateY(0deg)
    }
}
@keyframes flip_averse{
    0%,100%{
        -webkit-transform:rotateY(180deg);
        -moz-transform:rotateY(180deg);
        -ms-transform:rotateY(180deg);
        -o-transform:rotateY(180deg);
        transform:rotateY(180deg)
    }
    50%{
        -webkit-transform:rotateY(0deg);
        -moz-transform:rotateY(0deg);
        -ms-transform:rotateY(0deg);
        -o-transform:rotateY(0deg);
        transform:rotateY(0deg)
    }
}
@-webkit-keyframes jump{
    0%{
        transform:translateY(-5px)
    }
    50%{
        transform:translateY(5px)
    }
    100%{
        transform:translateY(-5px)
    }
}
@keyframes jump{
    0%{
        transform:translateY(-5px)
    }
    50%{
        transform:translateY(5px)
    }
    100%{
        transform:translateY(-5px)
    }
}
@-webkit-keyframes sky_bg{
    0%{
        left:0
    }
    100%{
        left:-994px
    }
}
@keyframes sky_bg{
    0%{
        left:0
    }
    100%{
        left:-994px
    }
}
@-webkit-keyframes hvr-pulse-grow{
    to{
        -webkit-transform:scale(1.05);
        -moz-transform:scale(1.05);
        -ms-transform:scale(1.05);
        -o-transform:scale(1.05);
        transform:scale(1.05)
    }
}
@keyframes hvr-pulse-grow{
    to{
        -webkit-transform:scale(1.05);
        -moz-transform:scale(1.05);
        -ms-transform:scale(1.05);
        -o-transform:scale(1.05);
        transform:scale(1.05)
    }
}
@keyframes smokeL{
    0%{
        transform:scale(.2) translate(0, 0)
    }
    10%{
        opacity:1;
        transform:scale(.2) translate(0, -5px)
    }
    100%{
        opacity:0;
        transform:scale(1) translate(-20px, -130px)
    }
}
@-webkit-keyframes smokeL{
    0%{
        transform:scale(.2) translate(0, 0)
    }
    10%{
        opacity:1;
        transform:scale(.2) translate(0, -5px)
    }
    100%{
        opacity:0;
        transform:scale(1) translate(-20px, -130px)
    }
}
@keyframes smokeR{
    0%{
        transform:scale(.2) translate(0, 0)
    }
    10%{
        opacity:1;
        transform:scale(.2) translate(0, -5px)
    }
    100%{
        opacity:0;
        transform:scale(1) translate(20px, -130px)
    }
}
@-webkit-keyframes smokeR{
    0%{
        transform:scale(.2) translate(0, 0)
    }
    10%{
        opacity:1;
        transform:scale(.2) translate(0, -5px)
    }
    100%{
        opacity:0;
        transform:scale(1) translate(20px, -130px)
    }
}
@-webkit-keyframes buzz{
    10%{
        -webkit-transform:translateX(3px) rotate(2deg);
        transform:translateX(3px) rotate(2deg)
    }
    20%{
        -webkit-transform:translateX(-3px) rotate(-2deg);
        transform:translateX(-3px) rotate(-2deg)
    }
    30%{
        -webkit-transform:translateX(3px) rotate(2deg);
        transform:translateX(3px) rotate(2deg)
    }
    40%{
        -webkit-transform:translateX(-3px) rotate(-2deg);
        transform:translateX(-3px) rotate(-2deg)
    }
    50%{
        -webkit-transform:translateX(2px) rotate(1deg);
        transform:translateX(2px) rotate(1deg)
    }
    60%{
        -webkit-transform:translateX(-2px) rotate(-1deg);
        transform:translateX(-2px) rotate(-1deg)
    }
    70%{
        -webkit-transform:translateX(2px) rotate(1deg);
        transform:translateX(2px) rotate(1deg)
    }
    80%{
        -webkit-transform:translateX(-2px) rotate(-1deg);
        transform:translateX(-2px) rotate(-1deg)
    }
    90%{
        -webkit-transform:translateX(1px) rotate(0);
        transform:translateX(1px) rotate(0)
    }
    100%{
        -webkit-transform:translateX(-1px) rotate(0);
        transform:translateX(-1px) rotate(0)
    }
}
@keyframes buzz{
    10%{
        -webkit-transform:translateX(3px) rotate(2deg);
        transform:translateX(3px) rotate(2deg)
    }
    20%{
        -webkit-transform:translateX(-3px) rotate(-2deg);
        transform:translateX(-3px) rotate(-2deg)
    }
    30%{
        -webkit-transform:translateX(3px) rotate(2deg);
        transform:translateX(3px) rotate(2deg)
    }
    40%{
        -webkit-transform:translateX(-3px) rotate(-2deg);
        transform:translateX(-3px) rotate(-2deg)
    }
    50%{
        -webkit-transform:translateX(2px) rotate(1deg);
        transform:translateX(2px) rotate(1deg)
    }
    60%{
        -webkit-transform:translateX(-2px) rotate(-1deg);
        transform:translateX(-2px) rotate(-1deg)
    }
    70%{
        -webkit-transform:translateX(2px) rotate(1deg);
        transform:translateX(2px) rotate(1deg)
    }
    80%{
        -webkit-transform:translateX(-2px) rotate(-1deg);
        transform:translateX(-2px) rotate(-1deg)
    }
    90%{
        -webkit-transform:translateX(1px) rotate(0);
        transform:translateX(1px) rotate(0)
    }
    100%{
        -webkit-transform:translateX(-1px) rotate(0);
        transform:translateX(-1px) rotate(0)
    }
}
@-webkit-keyframes rotateScale{
    0%{
        -webkit-transform:scale(1) rotateY(0deg);
        -moz-transform:scale(1) rotateY(0deg);
        -ms-transform:scale(1) rotateY(0deg);
        -o-transform:scale(1) rotateY(0deg);
        transform:scale(1) rotateY(0deg)
    }
    50%{
        -webkit-transform:scale(1.3) rotateY(180deg);
        -moz-transform:scale(1.3) rotateY(180deg);
        -ms-transform:scale(1.3) rotateY(180deg);
        -o-transform:scale(1.3) rotateY(180deg);
        transform:scale(1.3) rotateY(180deg)
    }
    100%{
        -webkit-transform:scale(1) rotateY(360deg);
        -moz-transform:scale(1) rotateY(360deg);
        -ms-transform:scale(1) rotateY(360deg);
        -o-transform:scale(1) rotateY(360deg);
        transform:scale(1) rotateY(360deg)
    }
}
@keyframes rotateScale{
    0%{
        -webkit-transform:scale(1) rotateY(0deg);
        -moz-transform:scale(1) rotateY(0deg);
        -ms-transform:scale(1) rotateY(0deg);
        -o-transform:scale(1) rotateY(0deg);
        transform:scale(1) rotateY(0deg)
    }
    50%{
        -webkit-transform:scale(1.2) rotateY(180deg);
        -moz-transform:scale(1.2) rotateY(180deg);
        -ms-transform:scale(1.2) rotateY(180deg);
        -o-transform:scale(1.2) rotateY(180deg);
        transform:scale(1.2) rotateY(180deg)
    }
    100%{
        -webkit-transform:scale(1) rotateY(360deg);
        -moz-transform:scale(1) rotateY(360deg);
        -ms-transform:scale(1) rotateY(360deg);
        -o-transform:scale(1) rotateY(360deg);
        transform:scale(1) rotateY(360deg)
    }
}
@-webkit-keyframes rotating{
    from{
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg)
    }
    to{
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@keyframes rotating{
    from{
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg)
    }
    to{
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@keyframes balanceScale{
    0%{
        transform:rotateZ(0deg) scale(1)
    }
    60%{
        transform:scale(1);
        color:#fff
    }
    65%{
        transform:scale(1.1);
        color:#f6b558
    }
    80%{
        transform:scale(1);
        color:#fff
    }
}
@keyframes balanceCh{
    0%{
        transform:translateX(160px) translateY(-26px) scale(1.4);
        opacity:1
    }
    100%{
        transform:translateX(110px) translateY(4px);
        opacity:0
    }
}
@keyframes hightlightdigit{
    0%{
        background-position-y:-157px
    }
    49.99%{
        background-position-y:-157px
    }
    50%{
        background-position-y:0
    }
    99.99%{
        background-position-y:0
    }
    100%{
        background-position-y:-157px
    }
}
@keyframes showRow{
    0%{
        height:0
    }
    100%{
        height:auto
    }
}
@keyframes highlightODD{
    0%{
        background:rgba(255,255,255,0.2)
    }
    80%{
        background:rgba(255,255,255,0.2)
    }
    87%{
        background:#2e4a59
    }
    95%{
        background:#2e4a59
    }
    100%{
        background:#223742
    }
}
@keyframes highlightEVEN{
    0%{
        background:rgba(255,255,255,0.2)
    }
    80%{
        background:rgba(255,255,255,0.2)
    }
    87%{
        background:#395a6b
    }
    95%{
        background:#395a6b
    }
    100%{
        background:#263c48
    }
}
tr.animate-newrow:nth-child(odd) td{
    -webkit-animation:highlightODD .2s ease-in alternate;
    -moz-animation:highlightODD .2s ease-in alternate;
    -ms-animation:highlightODD .2s ease-in alternate;
    -o-animation:highlightODD .2s ease-in alternate;
    animation:highlightODD .2s ease-in alternate;
    -webkit-animation:showRow .3s ease-out alternate;
    -moz-animation:showRow .3s ease-out alternate;
    -ms-animation:showRow .3s ease-out alternate;
    -o-animation:showRow .3s ease-out alternate;
    animation:showRow .3s ease-out alternate
}
tr.animate-newrow:nth-child(even) td{
    -webkit-animation:highlightEVEN .2s ease-in alternate;
    -moz-animation:highlightEVEN .2s ease-in alternate;
    -ms-animation:highlightEVEN .2s ease-in alternate;
    -o-animation:highlightEVEN .2s ease-in alternate;
    animation:highlightEVEN .2s ease-in alternate;
    -webkit-animation:showRow .3s ease-out alternate;
    -moz-animation:showRow .3s ease-out alternate;
    -ms-animation:showRow .3s ease-out alternate;
    -o-animation:showRow .3s ease-out alternate;
    animation:showRow .3s ease-out alternate
}
.table>tbody+tbody{
    border-top:none
}
@-webkit-keyframes fade{
    0%{
        opacity:1
    }
    100%{
        opacity:0
    }
}
@-webkit-keyframes movechain{
    0%{
        left:200%
    }
    100%{
        left:50%
    }
}
@-webkit-keyframes backgroundtr{
    0%{
        transform:translateZ(-40px)
    }
    100%{
        transform:translateZ(40px)
    }
}
@-webkit-keyframes faded{
    0%{
        opacity:1
    }
    40%{
        opacity:1
    }
    45%{
        opacity:0
    }
    48%{
        opacity:1
    }
    50%{
        opacity:0
    }
    70%{
        opacity:1
    }
    95%{
        opacity:1;
        -webkit-clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%)
    }
    100%{
        opacity:.3;
        -webkit-clip-path:polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
        clip-path:polygon(0 100%, 100% 100%, 100% 100%, 0 100%)
    }
}
@-webkit-keyframes fall{
    from{
        top:-250px
    }
    to{
        top:300px
    }
}
@-webkit-keyframes spinner{
    from{
        -webkit-transform:rotateY(0deg)
    }
    to{
        -webkit-transform:rotateY(-360deg)
    }
}
@keyframes spinner{
    from{
        -moz-transform:rotateY(0deg);
        -ms-transform:rotateY(0deg);
        transform:rotateY(0deg)
    }
    to{
        -moz-transform:rotateY(-360deg);
        -ms-transform:rotateY(-360deg);
        transform:rotateY(-360deg)
    }
}
.front_layer{
    position:relative;
    z-index:2
}
a:hover,a:focus,a:active{
    text-decoration:none
}
.loading .pre-loading{
    background:#1b333e
}
.ico{
    background:#19303a !important;
    border-bottom:1px solid #1f3a47 !important
}
.cc_step{
    display:none
}
.hvr-pulse-grow{
    -webkit-transform:perspective(1px) translateZ(0);
    -moz-transform:perspective(1px) translateZ(0);
    -ms-transform:perspective(1px) translateZ(0);
    -o-transform:perspective(1px) translateZ(0);
    transform:perspective(1px) translateZ(0);
    box-shadow:0 0 1px transparent
}
.hvr-pulse-grow:hover,.hvr-pulse-grow:focus,.hvr-pulse-grow:active{
    -webkit-animation:hvr-pulse-grow .5s linear infinite alternate;
    -moz-animation:hvr-pulse-grow .5s linear infinite alternate;
    -ms-animation:hvr-pulse-grow .5s linear infinite alternate;
    -o-animation:hvr-pulse-grow .5s linear infinite alternate;
    animation:hvr-pulse-grow .5s linear infinite alternate
}
.cp{
    cursor:pointer
}
.btn-orange{
    background:#03dccf;
    color:#fff
}
.btn-orange:hover,.btn-orange:active,.btn-orange:focus{
    background:#03e7d8;
    color:#fff
}
.btn-orange:active{
    text-shadow:0 1px 0 #209f97
}
.btn-shadow{
    -webkit-box-shadow:0 5px 0 #209f97;
    -moz-box-shadow:0 5px 0 #209f97;
    box-shadow:0 5px 0 #209f97
}
.combo_results{
    color:#fff;
    user-select:none;
    display:inline-block;
    background:rgba(255,255,255,0.1);
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    padding:15px
}
.combo_results li{
    user-select:none;
    text-align:center;
    display:inline-block;
    margin:0 5px;
    font-weight:900
}
.combo_results li:last-child{
    color:#03dccf
}
.combo_results__small{
    margin:10px 0
}
.combo_results__small li{
    user-select:none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    text-align:center;
    display:inline-block;
    margin-right:1px;
    font-weight:700;
    font-size:.9em;
    line-height:28px;
    width:20px;
    -webkit-transition:all ease .3s;
    -moz-transition:all ease .3s;
    -ms-transition:all ease .3s;
    -o-transition:all ease .3s;
    transition:all ease .3s
}
.combo_results__small li:hover{
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
    transform:scale(1.1)
}
.combo_results__small li:last-child{
    color:#03dccf
}
.combo_results__small li.active{
    background:rgba(0,0,0,0.2);
    -webkit-animation:hvr-pulse-grow .3s linear infinite alternate;
    -moz-animation:hvr-pulse-grow .3s linear infinite alternate;
    -ms-animation:hvr-pulse-grow .3s linear infinite alternate;
    -o-animation:hvr-pulse-grow .3s linear infinite alternate;
    animation:hvr-pulse-grow .3s linear infinite alternate
}
.switch{
    position:relative;
    display:inline-block;
    width:56px;
    height:28px
}
.switch input{
    display:none;
    width:56px;
    height:28px
}
.switch input:checked+.slidersw:before{
    -webkit-transform:translateX(28px);
    -moz-transform:translateX(28px);
    -ms-transform:translateX(28px);
    -o-transform:translateX(28px);
    transform:translateX(28px)
}
.switch input:checked+.slidersw{
    background-color:#03dccf
}
.switch .slidersw{
    position:absolute;
    cursor:pointer;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#e9eaed;
    -webkit-transition:.4s;
    transition:.4s
}
.switch .slidersw.round{
    -webkit-border-radius:34px;
    -moz-border-radius:34px;
    border-radius:34px
}
.switch .slidersw:before{
    position:absolute;
    content:"";
    height:20px;
    width:20px;
    left:4px;
    bottom:4px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    background-color:white;
    -webkit-transition:all ease .4s;
    -moz-transition:all ease .4s;
    -ms-transition:all ease .4s;
    -o-transition:all ease .4s;
    transition:all ease .4s
}
.common_numbers{
    background:#68558c;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    padding:20px 20px 40px 20px;
    text-align:center;
    color:#fff
}
.common_numbers .btn{
    margin:20px 0 0 0
}
.common_numbers .carousel_section{
    padding:10px 0
}
.common_numbers .carousel_section .carousel-inner .item{
    padding:0;
    min-height:100px
}
.common_numbers .carousel_section .carousel-inner .item .combo_results li{
    background:rgba(255,255,255,0.2);
    color:#fff
}
.common_numbers .carousel_section .carousel-inner .item .combo_results li:last-child{
    color:#fff;
    background:#03dccf
}
.common_numbers .carousel_section .carousel-control{
    width:40px;
    height:40px;
    background:#f3f5f7;
    top:50%;
    margin-top:-20px;
    opacity:1;
    -webkit-border-radius:50% !important;
    -moz-border-radius:50% !important;
    border-radius:50% !important
}
.common_numbers .carousel_section .carousel-control.left{
    left:-40px
}
.common_numbers .carousel_section .carousel-control.right{
    right:-40px
}
.common_numbers .carousel_section .carousel-control:hover{
    background:#f3f5f7
}
.common_numbers .carousel_section .carousel-indicators li{
    border:none;
    background:rgba(255,255,255,0.5);
    width:6px;
    height:6px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    margin:0
}
.common_numbers .carousel_section .carousel-indicators li.active{
    background:#03dccf
}
.jq-selectbox__select{
    background:#fff !important;
    -webkit-box-shadow:none !important;
    -moz-box-shadow:none !important;
    box-shadow:none !important;
    height:40px !important
}
.jq-selectbox__select .jq-selectbox__select-text{
    line-height:40px !important
}
.jq-selectbox__trigger{
    border-left:1px solid transparent !important
}
.jq-selectbox__trigger-arrow{
    top:18px !important
}
.play_section .combo_list{
    background:#eff1f3;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    position:relative;
    padding:20px;
    margin-top:20px;
    display:none
}
.play_section .combo_list:before{
    width:0;
    height:0;
    border-style:solid;
    border-width:0 7.5px 9px 7.5px;
    border-color:transparent transparent #eff1f3 transparent;
    content:'';
    display:block;
    position:absolute;
    top:-9px;
    left:50%;
    margin-left:-7.5px
}
.play_section .combo_list .equal_combos{
    display:none
}
.play_section .combo_list .equal_combos .combos__bet{
    width:calc(33.33% - 5px)
}
.play_section .combo_list .unique_combos{
    display:none
}
.play_section .combo_list .cmb_draw{
    display:inline-block;
    width:calc(33.33% - 5px);
    background:#fff;
    padding:10px 5px;
    text-align:center;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    margin:0 5px 10px 0;
    position:relative
}
.play_section .combo_list .cmb_draw__refresh{
    width:20px;
    height:20px;
    position:absolute;
    right:10px;
    top:10px;
    display:block;
    outline:none;
    border:none;
    text-decoration:none
}
.play_section .combo_list .cmb_draw__title{
    font-size:.9em;
    font-weight:500;
    padding:10px;
    text-align:center;
    width:100%
}
.play_section .combo_list .cmb_draw .combos__bet{
    width:100%
}
.play_section .combo_list .combos__bet{
    display:inline-block;
    position:relative;
    transform-style:preserve-3d;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
    transition:all .3s ease;
    -webkit-transform:rotateX(0deg);
    -moz-transform:rotateX(0deg);
    -ms-transform:rotateX(0deg);
    -o-transform:rotateX(0deg);
    transform:rotateX(0deg);
    text-align:center;
    padding:8px 0;
    background:#fff;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    margin:0 5px 5px 0;
    overflow:hidden
}
.play_section .combo_list .combos__bet .ball{
    display:inline-block;
    font-size:14px;
    margin:0 3px;
    text-align:center;
    font-weight:300
}
.play_section .combo_list .combos__bet .ball.yellow__ball{
    color:#03dccf
}
.play_section .combo_list .cmb__title{
    display:block;
    padding:10px;
    color:#1f1f1f;
    text-align:center;
    font-size:1em;
    font-weight:500
}
.play_section .combo_list .cmb__list{
    padding:0;
    margin:10px 0 10px 0
}
.play_section .jq-selectbox__select{
    width:106px
}
.play_section h2{
    font-weight:900;
    line-height:1.5em;
    font-size:1.8em;
    display:inline-block
}
.play_section p{
    font-size:.9em;
    margin:10px 0
}
.play_section p.text-muted{
    color:#999
}
.play_section__form{
    padding:40px;
    position:relative
}
.play_section__form h4{
    font-size:1.3em;
    padding-bottom:25px;
    margin-bottom:20px;
    font-weight:900;
    position:relative
}
.play_section__form .btn-block{
    margin:20px 0
}
.play_section__form .total_block{
    margin:20px 0;
    overflow:hidden
}
.play_section__form .total_block p{
    font-size:1.2em;
    font-weight:700;
    margin:15px 0
}
.play_section__form .total_block p strong{
    font-weight:700;
    font-size:1.4em
}
.play_section__form .total_block p strong span{
    font-weight:500;
    font-size:.7em
}
.play_section__form .list-group{
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none
}
.play_section__form .list-group .list-group-item{
    border:none;
    margin:20px 0;
    padding:0;
    font-weight:700;
    font-size:1em;
    background:none
}
.play_section__form .list-group .list-group-item.dotted_line{
    background:url('/img/icons/dots.png') repeat-x bottom center
}
.play_section__form .list-group .list-group-item.dotted_line span{
    background:#f3f5f7
}
.play_section__form .list-group .list-group-item.dotted_line span.pull-right{
    padding:0 0 0 5px
}
.play_section__form .list-group .list-group-item.inline span{
    margin-top:10px;
    display:inline-block
}
.play_section__form .list-group .list-group-item.inline span.pull-right{
    margin:0
}
.play_section__form .list-group .list-group-item.inline span .jq-number__field{
    width:70px
}
.play_section__form .currency_list{
    display:block;
    margin:20px auto
}
.play_section__form .currency_list li{
    display:inline-block;
    color:#adadad;
    margin-right:5px
}
.play_section__form .currency_list li span{
    display:inline-block;
    max-width:100px;
    text-align:left;
    font-weight:300;
    font-size:.8em;
    vertical-align:middle
}
.play_section__bets{
    padding:40px;
    margin:0 -15px
}
.play_section__bets .btn-block:hover i{
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
    transform:scale(1.2)
}
.play_section #multibet .btn-block:hover .ui-icons__combinations{
    -webkit-transform:scale(1.1) rotateZ(-15deg);
    -moz-transform:scale(1.1) rotateZ(-15deg);
    -ms-transform:scale(1.1) rotateZ(-15deg);
    -o-transform:scale(1.1) rotateZ(-15deg);
    transform:scale(1.1) rotateZ(-15deg)
}
.play_section .multibet__wrapper{
    border:1px solid #e8e8e8;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    padding:20px 20px 40px 20px;
    margin:0 0 20px 0;
    display:block;
    position:relative
}
.play_section .multibet__wrapper .slider__wrapper .slider__from,.play_section .multibet__wrapper .slider__wrapper .slider__to{
    color:#dfdfdf;
    font-size:.7em;
    vertical-align:middle;
    margin:0 10px
}
.play_section .slider__item{
    padding:30px 0 20px;
    display:block;
    clear:both;
    position:relative;
    margin:20px 0;
    vertical-align:middle
}
.play_section .tickets{
    clear:both;
    overflow:hidden;
    margin:0 0 20px 0
}
.play_section .tickets .padding-15{
    padding:0 15px 0 0
}
.play_section .tickets__item{
    border:1px solid #e8e8e8;
    overflow:hidden;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-transition:all ease .3s;
    -moz-transition:all ease .3s;
    -ms-transition:all ease .3s;
    -o-transition:all ease .3s;
    transition:all ease .3s;
    padding:0 15px;
    margin:0 0 20px 0
}
.play_section .tickets__item:hover{
    border:1px solid #8e8f90
}
.play_section .tickets__body{
    padding:10px
}
.play_section .tickets__body p{
    margin:10px 0;
    font-size:.9em
}
.play_section .tickets__body p.more_numbers{
    font-size:.8em;
    height:30px;
    margin-bottom:0
}
.play_section .tickets__body p.puls{
    -webkit-animation:hvr-pulse-grow .3s ease alternate;
    -moz-animation:hvr-pulse-grow .3s ease alternate;
    -ms-animation:hvr-pulse-grow .3s ease alternate;
    -o-animation:hvr-pulse-grow .3s ease alternate;
    animation:hvr-pulse-grow .3s ease alternate
}
.play_section .tickets__body .list_numbers{
    display:inline-block;
    margin:10px 0
}
.play_section .tickets__body .list_numbers li{
    list-style:none;
    display:inline-block;
    width:50px;
    height:50px;
    margin:2px;
    line-height:50px;
    font-size:.9em;
    background:#eff1f3;
    text-align:center;
    border:1px solid transparent;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    cursor:pointer;
    font-weight:500;
    user-select:none
}
.play_section .tickets__body .list_numbers li:hover{
    background:#fff;
    border:1px dashed #1f1f1f
}
.play_section .tickets__body .list_numbers li.active{
    color:#fff;
    background:#5e5589
}
.play_section .tickets__body .list_numbers li.active:hover{
    background:#8d76bb
}
.play_section .tickets__body .list_numbers.first-49.ready li{
    color:#8e8f90
}
.play_section .tickets__body .list_numbers.first-49.ready li.active{
    color:#fff
}
.play_section .tickets__body .list_numbers.last-26 li{
    background:#fdf6eb;
    border:1px solid #e6d4bb
}
.play_section .tickets__body .list_numbers.last-26 li:hover{
    background:#e6d4bb
}
.play_section .tickets__body .list_numbers.last-26 li.active{
    background:#03dccf
}
.play_section .tickets__head{
    background:#eff1f3;
    padding:10px 20px;
    overflow:hidden;
    margin:0 -15px
}
.play_section .tickets__head .btn{
    background:transparent;
    vertical-align:middle
}
.play_section .tickets__head .btn:hover .tickets-icon-auto{
    -webkit-transform:scale(1.3) rotateZ(180deg);
    -moz-transform:scale(1.3) rotateZ(180deg);
    -ms-transform:scale(1.3) rotateZ(180deg);
    -o-transform:scale(1.3) rotateZ(180deg);
    transform:scale(1.3) rotateZ(180deg)
}
.play_section .tickets__head .btn:hover .tickets-icon-close{
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
    transform:scale(1.1)
}
.play_section .tickets__head .pull-right .btn:first-child{
    margin-right:3px
}
.play_section__tabs{
    margin:0 -15px
}
.play_section__tabs .nav-tabs{
    border-bottom:1px solid #e8e8e8
}
.play_section__tabs .nav-tabs li:first-child{
    margin-left:40px
}
.play_section__tabs .nav-tabs li a{
    background:#eff1f3;
    font-weight:500;
    font-size:.9em;
    margin-top:3px;
    -webkit-transition:all .1s ease;
    -moz-transition:all .1s ease;
    -ms-transition:all .1s ease;
    -o-transition:all .1s ease;
    transition:all .1s ease
}
.play_section__tabs .nav-tabs li a:hover,.play_section__tabs .nav-tabs li a:active,.play_section__tabs .nav-tabs li a:focus{
    text-decoration:none;
    border:1px solid #e8e8e8;
    border-bottom:1px solid transparent !important;
    background:#fff;
    color:#03dccf
}
.play_section__tabs .nav-tabs li.active a{
    background:#fff;
    font-weight:900;
    color:#1f1f1f;
    padding:12px 15px;
    margin-top:0;
    border-bottom:1px solid transparent !important
}
.play_section__tabs .nav-tabs li.active a:hover{
    color:#03dccf
}
.play_section__form{
    background:#f3f5f7
}
.prize_won{
    color:#03dcd0
}
.prize_bet{
    color:#d34848
}
.prize_bet,.prize_won{
    top:80px;
    left:216px;
    display:block;
    position:absolute;
    width:200px;
    text-align:center;
    transform:translateX(160px) translateY(-26px) scale(1.4);
    opacity:0
}
.prize_bet.go,.prize_won.go{
    -webkit-animation:balanceCh 1s linear alternate;
    -moz-animation:balanceCh 1s linear alternate;
    -ms-animation:balanceCh 1s linear alternate;
    -o-animation:balanceCh 1s linear alternate;
    animation:balanceCh 1s linear alternate
}
.prize_table__wrapper{
    max-width:100% !important;
    position:relative;
    padding-bottom:80px;
    margin-bottom:20px
}
.prize_table__wrapper:before{
    content:'';
    width:301px;
    height:113px;
    position:absolute;
    left:50%;
    margin-left:-160px;
    background:url(../../img/cc_moneybags.png) no-repeat top center;
    background-size:contain;
    bottom:-10px;
    z-index:1
}
.prize_table__wrapper .table{
    background:rgba(255,255,255,0.1);
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    overflow:hidden;
    color:#fff;
    margin:20px 0;
    z-index:2
}
.prize_table__wrapper .table thead tr th{
    background:rgba(255,255,255,0.2);
    border-bottom:none;
    padding:11px 7px
}
.prize_table__wrapper .table thead tr th:first-child{
    width:37%
}
.prize_table__wrapper .table thead tr th:first-child,.prize_table__wrapper .table thead tr th:last-child{
    padding:11px 20px
}
.prize_table__wrapper .table tbody tr td{
    vertical-align:middle;
    padding:11px 7px
}
.prize_table__wrapper .table tbody tr td:first-child,.prize_table__wrapper .table tbody tr td:last-child{
    padding:11px 20px
}
.prize_table__wrapper .table>thead>tr>th,.prize_table__wrapper .table>tbody>tr>th,.prize_table__wrapper .table>tfoot>tr>th,.prize_table__wrapper .table>thead>tr>td,.prize_table__wrapper .table>tbody>tr>td,.prize_table__wrapper .table>tfoot>tr>td{
    vertical-align:middle;
    border-top:1px solid rgba(255,255,255,0.1);
    font-size:.8em
}
.prize_table__master li{
    display:inline-block;
    width:10px;
    height:14px;
    font-weight:700;
    font-size:1em;
    float:left;
    margin:2px;
    vertical-align:middle
}
.prize_table__master li.active{
    color:#03dccf
}
.prize_table__master li.active.yel{
    color:#ffd20c
}
.prize_table__master li.active.lightyel{
    color:#c2f577
}
#CCPrizeTable .modal-content{
    background-color:#2c4e5d;
    /*background-image:url(../../img/cc-pt-bg.png);*/
    background-repeat:repeat
}
#CCPrizeTable .modal-content .multiplier_handler{
    display:inline-block
}
#CCPrizeTable .modal-content .cur_handler{
    display:inline-block
}
#CCPrizeTable .modal-title{
    color:#fff;
    text-align:center;
    font-size:32px;
    font-weight:900;
    line-height:40px
}
#CCPrizeTable .modal-dialog{
    width:700px
}
#CCPrizeTable .modal-header{
    padding-top:30px;
    padding-bottom:5px
}
#CCPrizeTable .modal-cc-header{
    position:relative;
    min-height:90px
}
#CCPrizeTable .modal-cc-header .close{
    position:absolute;
    right:-14px;
    top:-11px
}
#CCPrizeTable .modal-cc-header .ui-plus-minus{
    color:#fff;
    text-align:center;
    position:absolute;
    width:160px;
    left:0;
    top:0;
    z-index:100
}
#CCPrizeTable .modal-cc-header .ui-plus-minus .top{
    line-height:20px;
    font-size:14px
}
#CCPrizeTable .modal-cc-header .ui-plus-minus .middle{
    display:block;
    overflow:hidden;
    width:100%;
    height:46px
}
#CCPrizeTable .modal-cc-header .ui-plus-minus .middle .ui-btn{
    display:inline-block;
    background:url('../../img/cc-pt-ui.png') no-repeat;
    width:46px;
    height:46px;
    cursor:pointer;
    float:left
}
#CCPrizeTable .modal-cc-header .ui-plus-minus .middle .ui-btn.minus{
    background-position:0 0
}
#CCPrizeTable .modal-cc-header .ui-plus-minus .middle .ui-btn.plus{
    background-position:-111px 0
}
#CCPrizeTable .modal-cc-header .ui-plus-minus .middle .ui-btn.minus:hover{
    background-position:0 -49px
}
#CCPrizeTable .modal-cc-header .ui-plus-minus .middle .ui-btn.plus:hover{
    background-position:-111px -49px
}
#CCPrizeTable .modal-cc-header .ui-plus-minus .middle .ui-display{
    background:url(../../img/cc-pt-ui.png) no-repeat;
    background-position:-45px 0;
    display:inline-block;
    width:66px;
    height:46px;
    font-weight:600;
    float:left;
    text-align:center;
    line-height:46px
}
#CCPrizeTable .modal-cc-header .ui-plus-minus .middle .ui-display span{
    display:inline-block
}
#CCPrizeTable .modal-cc-header .ui-plus-minus .bottom{
    font-weight:600;
    font-size:15px;
    padding:8px 0 0
}
#CCPrizeTable .modal-cc-header .ui-plus-minus .bottom span{
    display:inline-block
}
#CCPrizeTable .modal-cc-header .ui-currency{
    background:url(../../img/cc-pt-ui.png) no-repeat;
    background-position:-23px -101px;
    display:inline-block;
    width:111px;
    height:56px;
    position:absolute;
    right:0;
    top:17px;
    cursor:ns-resize;
    z-index:100
}
#CCPrizeTable .modal-cc-header .ui-currency:hover{
    background-position:-23px -160px
}
#CCPrizeTable .modal-cc-header .ui-header{
    padding:0 160px 10px;
    z-index:1
}
.modal-backdrop{
    background-color:#152128 !important
}
.jq-number__spin{
    background:#03dccf !important;
    border-bottom:1px solid #ffc6a7 !important
}
.jq-number__spin:after{
    left:13px
}
.jq-selectbox li:hover{
    background-color:#03dccf !important
}
.draw_results{
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    border:1px solid #eeeeee;
    display:inline-block;
    padding:5px 10px;
    text-align:center
}
.draw_results li{
    font-weight:700;
    display:inline-block;
    font-size:.9em
}
.draw_results li.last{
    color:#03dccf
}
.toggled_icon{
    display:inline-block;
    vertical-align:middle;
    width:20px;
    height:20px
}
.toggled_icon__plus{
    background:url(../../img/icons/ui/plus.svg) no-repeat center center;
    background-size:contain
}
.toggled_icon__minus{
    background:url(../../img/icons/ui/minus.svg) no-repeat center center;
    background-size:contain
}
.prize_table__wrapper{
    max-width:420px
}
.prize_table__fs,.prize_table__rt{
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    border:1px solid #eff1f3;
    overflow:hidden;
    font-size:.9em;
    font-weight:700;
    border-collapse:unset;
    max-width:420px
}
.prize_table__fs thead tr,.prize_table__rt thead tr{
    background:#eff1f3
}
.prize_table__fs thead tr th,.prize_table__rt thead tr th{
    border-bottom:none;
    padding:15px
}
.prize_table__fs tbody tr td,.prize_table__rt tbody tr td{
    padding:10px 15px
}
.prize_table__fs tbody tr:hover td,.prize_table__rt tbody tr:hover td{
    background:#eff1f3
}
.prize_table__rt tbody tr td span{
    display:inline-block;
    width:40px;
    font-size:.9em;
    vertical-align:middle
}
.waiting_section__wrapper,.won_section__wrapper{
    overflow:hidden
}
.waiting_section__wrapper .btn:hover,.won_section__wrapper .btn:hover{
    -webkit-animation:buzz .2s linear alternate;
    -moz-animation:buzz .2s linear alternate;
    -ms-animation:buzz .2s linear alternate;
    -o-animation:buzz .2s linear alternate;
    animation:buzz .2s linear alternate
}
.waiting_section__last,.won_section__last,.waiting_section__wait,.won_section__wait,.waiting_section__won,.won_section__won{
    padding:40px
}
.waiting_section__last,.won_section__last{
    background:rgba(52,48,74,0.6)
}
.waiting_section__last .btn,.won_section__last .btn{
    margin:20px 0
}
.waiting_section h3,.won_section h3,.waiting_section h4,.won_section h4{
    color:#fff;
    font-weight:900
}
.waiting_section h3,.won_section h3{
    font-size:1.8em
}
.waiting_section h4,.won_section h4{
    font-size:1.4em
}
.waiting_section a,.won_section a{
    color:#fff
}
.waiting_section a.arrow-link,.won_section a.arrow-link{
    font-size:.8em
}
.waiting_section .combo_results,.won_section .combo_results{
    margin:20px 0 10px 0;
    display:block;
    text-align:center
}
.waiting_section p,.won_section p{
    color:#fff;
    vertical-align:middle;
    margin:10px 0;
    font-size:.9em;
    font-weight:500
}
.waiting_section p.text-big,.won_section p.text-big{
    font-size:2.2em;
    margin:0;
    line-height:1em;
    margin-top:10px
}
.waiting_section p.text-big span,.won_section p.text-big span{
    display:block;
    font-size:.4em
}
.waiting_section p.tickets,.won_section p.tickets{
    padding-left:84px;
    position:relative;
    line-height:1.6em;
    max-width:350px;
    font-size:.9em;
    margin:30px 0
}
.waiting_section p.tickets:before,.won_section p.tickets:before{
    content:'';
    background:url('/img/icons/ui/tickets-icon-red.svg') no-repeat center center;
    width:64px;
    height:64px;
    background-size:contain;
    display:block;
    position:absolute;
    left:0;
    top:50%;
    margin-top:-32px
}
.waiting_section{
    background:#725c78 url(../../img/rapid_wait_bg.png) no-repeat center center;
    background-size:cover
}
.won_section__wrapper{
    background:#70669a url(../../img/rapid_won_bg.png) no-repeat center center;
    background-size:cover
}
.won_section .winning_combitations p{
    font-size:1.1em;
    margin:15px 0
}
.won_section .winning_combitations ul li{
    color:#fff
}
.won_section .winning_combitations ul li:last-child{
    color:#03dccf
}
.won_section p.amount_won{
    font-size:2.4em;
    font-weight:500
}
.won_section p.amount_won span{
    display:block;
    font-size:.4em;
    font-weight:700;
    margin-bottom:10px
}
.won_section p.amount_won sup{
    font-size:.4em;
    font-weight:700;
    vertical-align:middle
}
.btn.active{
    background:#5e5589 !important;
    color:#fff !important;
    border:1px solid transparent
}
.filter__bets .btn-outline-dark{
    background:#223742;
    color:#fff !important;
    border:1px solid rgba(255,255,255,0.2) !important
}
.filter__bets .btn-outline-dark:hover,.filter__bets .btn-outline-dark:focus,.filter__bets .btn-outline-dark:active{
    border:1px solid rgba(255,255,255,0.4) !important
}
.filter__bets .btn-outline-dark.active{
    background:#03dccf !important
}
.won_game{
    z-index:3
}
.game_section{
    background:url(../../assets/img/cc_blured_bg.jpg) no-repeat center center;
    background-size:cover;
    height:100%;
    width:100%;
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    overflow:hidden
}
.game_section .cc_machine{
    width:880px;
    height:464px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-224px 0 0 -440px;
    background:url(../../assets/img/cc_machine_game_new_1.png?1) no-repeat center center
}
.game_section .cc_machine .cc_balance{
    display:block;
    position:absolute;
    top:80px;
    left:216px;
    font-size:1.4em;
    font-weight:700;
    color:#fff;
    text-align:center;
    user-select:none;
    width:200px;
    font-family:'PFDinTextCondPro','Arial'
}
.game_section .cc_machine .cc_balance:before{
    width:26px;
    height:26px;
    background:url(../../assets/img/balance.svg) no-repeat;
    background-size:contain;
    content:'';
    display:inline-block;
    margin-right:10px;
    vertical-align:middle
}
.game_section .cc_machine .cc_balance.won_balance{
    -webkit-animation:1.5s ease-in balanceScale alternate;
    -moz-animation:1.5s ease-in balanceScale alternate;
    -ms-animation:1.5s ease-in balanceScale alternate;
    -o-animation:1.5s ease-in balanceScale alternate;
    animation:1.5s ease-in balanceScale alternate
}
.game_section .cc_machine #sound_control{
    width:20px;
    height:20px;
    display:block;
    position:absolute;
    right:358px;
    top:57px;
    background:url(../../assets/img/sound-on.svg) no-repeat;
    background-size:contain;
    cursor:pointer;
    opacity:.4
}
.game_section .cc_machine #sound_control:hover{
    opacity:1
}
.game_section .cc_machine #sound_control.off{
    background:url(../../assets/img/sound-off.svg) no-repeat;
    background-size:contain;
    height:18px;
    right:354px
}
.game_section .cc_machine .sound_lamp{
    display:block;
    width:16px;
    height:8px;
    position:absolute;
    right:370px;
    top:39px;
    background:url(../../assets/img/cc_lamp.png) no-repeat;
    background-position:0 0
}
.game_section .cc_machine .sound_lamp.off{
    background-position:0 -8px
}
.game_section .cc_machine .game_glitch{
    width:250px;
    height:200px;
    position:absolute;
    color:#03dccf;
    overflow:hidden;
    right:26px;
    bottom:70px
}
.game_section .cc_machine .game_glitch .game_glitch_wr{
    width:100%;
    height:200px;
    position:absolute;
    overflow:hidden
}
.game_section .cc_machine .game_glitch .game_display{
    width:100%;
    height:100%;
    padding-right:80px;
    padding-left:30px;
    padding-top:20px;
    position:relative
}
.game_section .cc_machine .game_glitch .game_display.wait_screen:before{
    content:'';
    width:120px;
    height:110px;
    background:url(../../assets/img/cc_chain_display.png) no-repeat 0 0;
    display:block;
    position:absolute;
    right:10px;
    top:50px
}
.game_section .cc_machine .game_glitch .game_display.play_screen{
    padding-top:50px
}
.game_section .cc_machine .game_glitch .game_display.play_screen:before{
    content:'';
    width:120px;
    height:110px;
    background:url(../../assets/img/cc_chain_display.png) no-repeat -120px 0;
    display:block;
    position:absolute;
    right:10px;
    top:50px
}
.game_section .cc_machine .game_glitch .game_display.won_screen{
    padding-top:20px
}
.game_section .cc_machine .game_glitch .game_display.won_screen:before{
    content:'';
    width:120px;
    height:110px;
    background:url(../../assets/img/cc_chain_display.png) no-repeat 0 0;
    display:block;
    position:absolute;
    right:10px;
    top:50px
}
.game_section .cc_machine .game_glitch .game_display p{
    margin:20px 0;
    color:#03dccf;
    text-shadow:0 0 15px #03dccf;
    font-family:'PFDinTextCondPro','Arial'
}
.game_section .cc_machine .game_glitch .game_display p.slogan{
    font-weight:900;
    font-size:1.2em
}
.game_section .cc_machine .game_glitch .game_display p.appeal{
    font-weight:500;
    font-size:1em
}
.game_section .cc_machine .game_glitch .game_display p.combo{
    font-weight:900;
    font-size:1.4em;
    text-transform:uppercase
}
.game_section .cc_machine .game_glitch .game_display p.combo_won{
    font-size:1.2em;
    font-weight:500;
    text-transform:uppercase
}
.game_section .cc_machine .game_glitch .game_display p.combo_won strong{
    font-size:1.2em;
    font-weight:900;
    display:block;
    text-transform:none
}
.game_section .cc_machine .blinking_button{
    width:25px;
    height:13px;
    background:#d33c12;
    -webkit-transform:rotateZ(-64deg);
    -moz-transform:rotateZ(-64deg);
    -ms-transform:rotateZ(-64deg);
    -o-transform:rotateZ(-64deg);
    transform:rotateZ(-64deg);
    position:absolute;
    left:109px;
    border-radius:0 5px 0 0;
    top:38px;
    box-shadow:0 0 20px #d33c12;
    -webkit-animation:fade .7s ease-in infinite alternate;
    -moz-animation:fade .7s ease-in infinite alternate;
    -ms-animation:fade .7s ease-in infinite alternate;
    -o-animation:fade .7s ease-in infinite alternate;
    animation:fade .7s ease-in infinite alternate
}
.game_section .cc_machine .blinking_diod{
    width:8px;
    height:8px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    background:#03dccf;
    position:absolute;
    right:267px;
    top:157px;
    box-shadow:0 0 17px #03dccf;
    -webkit-animation:fade 1s ease-in infinite alternate;
    -moz-animation:fade 1s ease-in infinite alternate;
    -ms-animation:fade 1s ease-in infinite alternate;
    -o-animation:fade 1s ease-in infinite alternate;
    animation:fade 1s ease-in infinite alternate
}
.game_section .cc_machine .round_btn{
    width:61px;
    height:59px;
    background:url('../../assets/img/cc_round_btn.png') no-repeat;
    color:#fff;
    text-align:center;
    display:inline-block;
    line-height:47px;
    font-weight:bold;
    font-size:1em;
    -webkit-transition:none;
    -moz-transition:none;
    -ms-transition:none;
    -o-transition:none;
    transition:none
}
.game_section .cc_machine .round_btn:hover,.game_section .cc_machine .round_btn:focus{
    background-position-y:-59px
}
.game_section .cc_machine .round_btn:active{
    background-position-y:-118px
}
.game_section .cc_machine .play_bnt_block{
    width:173px;
    height:120px;
    position:absolute;
    right:390px;
    bottom:30px;
    text-align:center;
    color:#fff;
    font-family:'PFDinTextCondPro','Arial'
}
.game_section .cc_machine .play_bnt_block p{
    font-weight:100;
    color:#fff;
    font-size:.8em;
    text-transform:uppercase;
    text-align:center;
    margin:5px 0
}
.game_section .cc_machine .play_bnt_block p strong{
    font-size:2em;
    font-weight:500;
    text-transform:none
}
.game_section .cc_machine .play_bnt_block .round_btn_lg{
    text-transform:uppercase;
    width:173px;
    height:67px;
    display:inline-block;
    text-align:center;
    line-height:67px;
    font-weight:900;
    font-size:1.4em;
    background:url(../../assets/img/cc_big_btn.png?1) no-repeat 0 0;
    -webkit-transition:none;
    -moz-transition:none;
    -ms-transition:none;
    -o-transition:none;
    transition:none;
    color:#fff;
    text-shadow:0 1px 0 #373737
}
.game_section .cc_machine .play_bnt_block .round_btn_lg:hover,.game_section .cc_machine .play_bnt_block .round_btn_lg:focus{
    background-position-y:-67px
}
.game_section .cc_machine .play_bnt_block .round_btn_lg:active{
    background-position-y:-134px
}
.game_section .cc_machine .play_bnt_block .round_btn_lg.disabled{
    background-position-y:-201px;
    color:#606060;
    cursor:default
}
.game_section .cc_machine .play_bnt_block .round_btn_lg.disabled:hover,.game_section .cc_machine .play_bnt_block .round_btn_lg.disabled:focus,.game_section .cc_machine .play_bnt_block .round_btn_lg.disabled:active{
    background-position-y:-201px;
    cursor:default;
    color:#606060
}
.game_section .cc_machine .combo_block{
    width:455px;
    height:170px;
    position:absolute;
    left:92px;
    top:128px
}
.game_section .cc_machine .combo_block.won_combo .digit{
    opacity:.5
}
.game_section .cc_machine .prize_list_block{
    width:150px;
    height:45px;
    font-size:1em;
    text-transform:uppercase;
    text-align:center;
    line-height:45px;
    color:#fff;
    font-weight:900;
    position:absolute;
    right:136px;
    padding-right:0;
    top:42px
}
.game_section .cc_machine .prize_list_block a{
    font-size:10px;
    color:#f8c138;
    border-bottom:1px dashed rgba(221,163,42,0.3);
    text-decoration:none;
    user-select:none;
    text-shadow:0 1px 0 #1f1f1f
}
.game_section .cc_machine .prize_list_block a:hover,.game_section .cc_machine .prize_list_block a:active,.game_section .cc_machine .prize_list_block a:focus{
    text-decoration:none;
    border-bottom:1px dashed transparent;
    color:#fff
}
.game_section .cc_machine .multiplier_block{
    width:210px;
    height:90px;
    position:absolute;
    bottom:0;
    left:96px
}
.game_section .cc_machine .multiplier_block .multiplier_indicator{
    width:71px;
    height:48px;
    background:url(../../assets/img/cc_input.png) no-repeat top center;
    display:inline-block;
    color:#fff;
    user-select:none;
    position:relative;
    overflow:hidden;
    vertical-align:middle
}
.game_section .cc_machine .multiplier_block .multiplier_indicator span{
    font-family:'PFDinTextCondPro','Arial';
    width:71px;
    height:48px;
    font-size:1.1em;
    font-weight:900;
    text-align:center;
    line-height:47px;
    display:block
}
.game_section .cc_machine .digit{
    height:158px;
    width:81px;
    margin-left:-5px;
    margin-right:-5px;
    background:url(../../assets/img/cc_digits_alt.png?12) no-repeat;
    display:inline-block
}
.game_section .cc_machine .digit_0{
    background-position-x:-81px
}
.game_section .cc_machine .digit_1{
    background-position-x:-162px
}
.game_section .cc_machine .digit_2{
    background-position-x:-243px
}
.game_section .cc_machine .digit_3{
    background-position-x:-324px
}
.game_section .cc_machine .digit_4{
    background-position-x:-405px
}
.game_section .cc_machine .digit_5{
    background-position-x:-486px
}
.game_section .cc_machine .digit_6{
    background-position-x:-567px
}
.game_section .cc_machine .digit_7{
    background-position-x:-648px
}
.game_section .cc_machine .digit.highlighted{
    -webkit-animation:hightlightdigit .5s linear infinite alternate;
    -moz-animation:hightlightdigit .5s linear infinite alternate;
    -ms-animation:hightlightdigit .5s linear infinite alternate;
    -o-animation:hightlightdigit .5s linear infinite alternate;
    animation:hightlightdigit .5s linear infinite alternate;
    opacity:1 !important
}
.balls-icon{
    width:11px;
    height:11px;
    display:inline-block;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    vertical-align:middle;
    background:#dadada
}
.balls-icon__orange{
    background:#03dccf
}
.cur-icon{
    display:inline-block;
    width:24px;
    height:24px;
    vertical-align:middle
}
.cur-icon-btc{
    background:url(/img/icons/currencies/bitcoin-gray.svg) no-repeat center center;
    background-size:contain
}
.cur-icon-ltc{
    background:url(/img/icons/currencies/litecoin-gray.svg) no-repeat center center;
    background-size:contain
}
.cur-icon-eth{
    background:url(/img/icons/currencies/ethereum-gray.svg) no-repeat center center;
    background-size:contain
}
.cur-icon-doge{
    background:url(/img/icons/currencies/doge-gray.svg) no-repeat center center;
    background-size:contain
}
.cur-icon-dash{
    background:url(/img/icons/currencies/dash-gray.svg) no-repeat center center;
    background-size:contain
}
.cur-icon-wallet{
    background:url(/img/icons/currencies/other-ways-gray.svg) no-repeat center center;
    background-size:contain
}
.orange-ticket{
    color:#03dccf
}
.bigwin-overlay{
    display:none;
    background-color:rgba(31,59,72,0.7);
    z-index:99;
    height:100%;
    width:100%;
    position:fixed;
    left:0;
    top:0
}
.bigwin-overlay .bigwin-center{
    position:absolute;
    left:50%;
    top:50%;
    display:inline-block;
    margin-top:70px
}
.bigwin-overlay .bigwin-center .bigwin-relative{
    position:relative
}
.bigwin-overlay .bigwin-center .bigwin-ray{
    background:url('../../assets/img/cc-ray-more.png') no-repeat;
    display:inline-block;
    position:absolute;
    bottom:0
}
.bigwin-overlay .bigwin-center .bigwin-ray:before{
    content:'';
    display:inline-block;
    background:url('../../assets/img/cc-stars.png') no-repeat;
    position:absolute
}
.bigwin-overlay .bigwin-center .bigwin-ray.ray1{
    width:290px;
    height:235px;
    background-position:-190px -275px;
    left:-290px
}
.bigwin-overlay .bigwin-center .bigwin-ray.ray1:before{
    width:55px;
    height:55px;
    background-position:0 0;
    left:22px;
    top:25px
}
.bigwin-overlay .bigwin-center .bigwin-ray.ray2{
    width:207px;
    height:277px;
    background-position:-190px 0;
    left:-206px;
    bottom:18px
}
.bigwin-overlay .bigwin-center .bigwin-ray.ray2:before{
    width:100px;
    height:98px;
    background-position:-59px 0;
    left:19px;
    top:20px
}
.bigwin-overlay .bigwin-center .bigwin-ray.ray3{
    width:184px;
    height:360px;
    background-position:0 0;
    left:-92px
}
.bigwin-overlay .bigwin-center .bigwin-ray.ray3:before{
    width:123px;
    height:120px;
    background-position:-169px 0;
    right:30px;
    top:32px
}
.bigwin-overlay .bigwin-center .bigwin-ray.ray4{
    width:207px;
    height:267px;
    background-position:-398px 0;
    left:-3px;
    bottom:26px
}
.bigwin-overlay .bigwin-center .bigwin-ray.ray4:before{
    width:100px;
    height:98px;
    background-position:-301px 0;
    right:22px;
    top:20px
}
.bigwin-overlay .bigwin-center .bigwin-ray.ray5{
    width:290px;
    height:235px;
    background-position:-480px -275px;
    left:0
}
.bigwin-overlay .bigwin-center .bigwin-ray.ray5:before{
    width:55px;
    height:55px;
    background-position:-411px 0;
    right:22px;
    top:25px
}
.bigwin-overlay .bigwin-panel{
    position:absolute;
    width:360px;
    left:-180px;
    text-align:center;
    font-family:'PFDinTextCondPro','Arial';
    top:-125px
}
.bigwin-overlay .bigwin-panel .bigwin-header{
    color:#fff;
    font-size:2.5em;
    text-transform:uppercase;
    letter-spacing:2px;
    font-weight:900;
    display:inline-block
}
.bigwin-overlay .bigwin-panel .bigwin-subhead{
    color:#fff;
    font-size:1.5em;
    font-weight:300;
    padding:10px 0 30px;
    letter-spacing:1px;
    display:inline-block
}
.bigwin-overlay .bigwin-panel .bigwin-amount{
    color:#ffca13;
    font-size:3em;
    letter-spacing:4px;
    font-weight:900;
    padding:0 0 40px
}
.bigwin-overlay .bigwin-panel .btn{
    padding:20px 50px;
    font-family:"MuseoSansCyrl",Arial,Tahoma,sans-serif;
    font-size:1em;
    display:inline-block;
    width:auto
}
.bigwin-overlay .winbox-sprite{
    background-image:url('../../assets/img/cc-winsprite.png');
    background-repeat:no-repeat;
    display:inline-block
}
.bigwin-overlay .winbox-sprite.bigwin{
    width:418px;
    height:179px;
    background-position:0 0
}
.bigwin-overlay .winbox-sprite.epicwin{
    width:892px;
    height:369px;
    background-position:0 -192px
}
.bigwin-overlay .winbox-sprite.coins{
    width:745px;
    height:363px;
    background-position:0 -576px
}
.bigwin-overlay .winbox-bigwin .winbox-sprite.bigwin{
    position:absolute;
    left:-209px;
    top:-159px
}
.bigwin-overlay .winbox-bigwin .bigwin-panel{
    top:-30px
}
.bigwin-overlay .winbox-bigwin .bigwin-amount{
    font-size:60px;
    padding:7px 0 5px;
    line-height:60px
}
.bigwin-overlay .winbox-bigwin .bigwin-header{
    font-size:30px;
    padding:0 0 35px
}
.bigwin-overlay .winbox-epicwin .winbox-sprite.epicwin{
    position:absolute;
    left:-444px;
    top:-190px
}
.bigwin-overlay .winbox-epicwin .winbox-sprite.coins{
    position:absolute;
    left:-345px;
    top:-444px
}
.bigwin-overlay .winbox-epicwin .bigwin-panel{
    top:-5px;
    width:500px;
    left:-250px
}
.bigwin-overlay .winbox-epicwin .bigwin-amount{
    position:relative;
    display:block;
    width:100%;
    height:125px
}
.bigwin-overlay .winbox-epicwin .bigwin-amount span{
    position:absolute;
    left:0;
    top:0;
    display:block;
    text-align:center;
    width:100%
}
.bigwin-overlay .winbox-epicwin .bigwin-amount .front{
    z-index:2;
    color:#ffca13;
    font-size:100px;
    text-shadow:0 7px 0 #954925;
    top:-5px
}
.bigwin-overlay .winbox-epicwin .bigwin-amount .stroke{
    z-index:1;
    font-size:100px;
    color:#03dccf;
    -webkit-text-fill-color:#03dccf;
    -webkit-text-stroke-width:30px;
    -webkit-text-stroke-color:#03dccf
}
.animate-bigwin-in{
    animation-name:bigwinin;
    animation-duration:900ms;
    animation-fill-mode:both
}
.animate-bigwin-in.wait50{
    animation-delay:50ms
}
.animate-bigwin-in.wait30{
    animation-delay:30ms
}
.animate-bigwin-in:before{
    animation-name:bigwinstar;
    animation-duration:100ms
}
.animate-findown{
    animation-name:findown;
    animation-duration:300ms;
    animation-fill-mode:both
}
.animate-findown.wait50{
    animation-delay:50ms
}
@keyframes bigwinin{
    0%,20%,40%,60%,80%,to{
        animation-timing-function:cubic-bezier(.215, .61, .355, 1)
    }
    0%{
        opacity:0;
        transform:scale3d(0, 0, 0) translateY(50px)
    }
    20%{
        transform:scale3d(1.2, 1.2, 1.2) translateY(-10px)
    }
    40%{
        transform:scale3d(.9, .9, .9) translateY(0)
    }
    60%{
        opacity:1;
        transform:scale3d(1.03, 1.03, 1.03)
    }
    80%{
        transform:scale3d(.97, .97, .97)
    }
    to{
        opacity:1;
        transform:scaleX(1)
    }
}
@keyframes bigwinstar{
    0%,20%,40%,60%,80%,to{
        animation-timing-function:cubic-bezier(.215, .61, .355, 1)
    }
    0%{
        opacity:0;
        transform:scale3d(0, 0, 0)
    }
    20%{
        transform:scale3d(1.3, 1.3, 1.3)
    }
    40%{
        opacity:1;
        transform:scale3d(.9, .9, .9)
    }
    60%{
        transform:scale3d(1.03, 1.03, 1.03)
    }
    80%{
        transform:scale3d(.97, .97, .97)
    }
    to{
        opacity:1;
        transform:scaleX(1)
    }
}
@keyframes findown{
    0%{
        opacity:0;
        transform:translate3d(0, -100%, 0)
    }
    to{
        opacity:1;
        transform:none
    }
}
.static-bg{
    background-color:#2D3940
}
.static-block{
    padding:100px 50px 40px;
    text-align:center;
    line-height:2em
}
.static-block .static-header{
    color:#fff;
    padding:35px 0 50px;
    font-size:2em
}
.static-block .static-subheader{
    color:#03dccf;
    padding:0 0 15px
}
.static-block .static-message{
    color:#eee;
    padding:0 200px 100px
}
.static-block .static-loader{
    margin:5px;
    display:inline-block;
    position:relative;
    width:50px;
    height:50px;
    text-align:center
}
.static-block .static-loader .big{
    display:inline-block;
    position:absolute;
    left:0;
    top:0;
    width:50px;
    height:50px
}
.static-block .static-loader .small{
    display:inline-block;
    position:absolute;
    left:25px;
    margin-left:-10px;
    top:20px;
    width:20px;
    height:20px
}
.animate-zoom-in{
    animation-delay:300ms;
    animation-name:animateZoomIn;
    animation-duration:500ms;
    animation-fill-mode:both
}
.animate-zoom-in2{
    animation-delay:300ms;
    animation-name:animateZoomIn2;
    animation-duration:500ms;
    animation-fill-mode:both
}
@keyframes animateZoomIn{
    0%{
        opacity:0;
        transform:scale3d(.9, 0, .9) translateY(50px)
    }
    50%{
        opacity:1
    }
}
@keyframes animateZoomIn2{
    0%{
        opacity:0;
        transform:scale3d(.9, 0, .9) translateY(-50px)
    }
    50%{
        opacity:1
    }
}
.animate-num{
    animation-duration:300ms;
    animation-fill-mode:both
}
.animate-num.down{
    animation-name:numDown
}
.animate-num.up{
    animation-name:numUp
}
.animate-num.pulsedown{
    animation-name:numPulseDown
}
.animate-num.pulseup{
    animation-name:numPulseUp
}
@keyframes numDown{
    0%{
        opacity:0;
        transform:translateY(5px)
    }
    50%{
        opacity:1
    }
}
@keyframes numUp{
    0%{
        opacity:0;
        transform:translateY(-5px)
    }
    50%{
        opacity:1
    }
}
@keyframes numPulseDown{
    0%{
        transform:scaleX(1)
    }
    50%{
        transform:scale3d(.8, .8, .8)
    }
    to{
        transform:scaleX(1)
    }
}
@keyframes numPulseUp{
    0%{
        transform:scaleX(1)
    }
    50%{
        transform:scale3d(1.1, 1.1, 1.1)
    }
    to{
        transform:scaleX(1)
    }
}
.drum-container{
    margin-top:9px;
    margin-bottom:11px;
    height:36px;
    overflow:hidden;
    color:#fff
}
.drum-container .drum-wrapper{
    height:36px
}
.drum-container .drum-wrapper .drum{
    height:36px;
    display:block;
    text-align:center;
    padding:0 14px 0 0;
    line-height:36px
}
.a-boardUp{
    -webkit-animation-name:boardUp;
    -moz-animation-name:boardUp;
    -webkit-animation-duration:500ms;
    -moz-animation-duration:500ms;
    -webkit-animation-fill-mode:both;
    -moz-animation-delay:50ms;
    animation-name:boardUp;
    animation-duration:500ms;
    animation-fill-mode:both;
    animation-delay:50ms
}
.a-headerUp2{
    -webkit-animation-name:headerUp2;
    -moz-animation-name:headerUp2;
    -webkit-animation-duration:400ms;
    -moz-animation-duration:400ms;
    -webkit-animation-fill-mode:both;
    -moz-animation-delay:0;
    animation-name:headerUp2;
    animation-duration:400ms;
    animation-fill-mode:both;
    animation-delay:0;
    perspective:500px;
    perspective-origin:center center
}
.a-winbox-nums{
    -webkit-animation-name:boardUp;
    -moz-animation-name:boardUp;
    -webkit-animation-duration:300ms;
    -moz-animation-duration:300ms;
    -webkit-animation-fill-mode:both;
    -moz-animation-delay:150ms;
    animation-name:boardUp;
    animation-duration:300ms;
    animation-fill-mode:both;
    animation-delay:150ms
}
@keyframes boardUp{
    0%,20%,40%,60%,80%,to{
        animation-timing-function:cubic-bezier(.215, .61, .355, 1)
    }
    0%{
        opacity:0;
        transform:scale3d(.4, .4, .4)
    }
    40%{
        opacity:1;
        transform:scale3d(1.1, 1.1, 1.1)
    }
    to{
        opacity:1;
        transform:scaleX(1)
    }
}
@keyframes headerUp2{
    0%{
        opacity:0;
        transform:scale3d(.3, .1, .3) translateY(250px)
    }
    50%{
        opacity:.4;
        transform:scale3d(.9, 1.1, .9) translateY(-20px)
    }
    to{
        opacity:1;
        transform:scaleX(1)
    }
}
