@keyframes slidedown{
  from{
      transform:translateY(-100%)
  }
  to{
      transform:translateY(0)
  }
}
@-o-keyframes slidedown{
  from{
      transform:translateY(-100%);
      -o-transform:translateY(-100%)
  }
  to{
      transform:translateY(0);
      -o-transform:translateY(0)
  }
}
@-ms-keyframes slidedown{
  from{
      transform:translateY(-100%);
      -ms-transform:translateY(-100%)
  }
  to{
      transform:translateY(0);
      -ms-transform:translateY(0)
  }
}
@-webkit-keyframes slidedown{
  from{
      transform:translateY(-100%);
      -webkit-transform:translateY(-100%)
  }
  to{
      transform:translateY(0);
      -webkit-transform:translateY(0)
  }
}
@-moz-keyframes slidedown{
  from{
      transform:translateY(-100%);
      -moz-transform:translateY(-100%)
  }
  to{
      transform:translateY(0);
      -moz-transform:translateY(0)
  }
}
@-webkit-keyframes pulse{
  0%{
      -webkit-transform:scale(.9);
      -moz-transform:scale(.9);
      -ms-transform:scale(.9);
      -o-transform:scale(.9);
      transform:scale(.9)
  }
  70%{
      -webkit-transform:scale(1);
      -moz-transform:scale(1);
      -ms-transform:scale(1);
      -o-transform:scale(1);
      transform:scale(1);
      box-shadow:0 0 0 50px rgba(69,184,120,0)
  }
  100%{
      -webkit-transform:scale(.9);
      -moz-transform:scale(.9);
      -ms-transform:scale(.9);
      -o-transform:scale(.9);
      transform:scale(.9);
      box-shadow:0 0 0 0 rgba(69,184,120,0)
  }
}
@keyframes pulse{
  0%{
      -webkit-transform:scale(.9);
      -moz-transform:scale(.9);
      -ms-transform:scale(.9);
      -o-transform:scale(.9);
      transform:scale(.9)
  }
  70%{
      -webkit-transform:scale(1);
      -moz-transform:scale(1);
      -ms-transform:scale(1);
      -o-transform:scale(1);
      transform:scale(1);
      box-shadow:0 0 0 50px rgba(69,184,120,0)
  }
  100%{
      -webkit-transform:scale(.9);
      -moz-transform:scale(.9);
      -ms-transform:scale(.9);
      -o-transform:scale(.9);
      transform:scale(.9);
      box-shadow:0 0 0 0 rgba(69,184,120,0)
  }
}
@-webkit-keyframes pulsescale{
  0%{
      -webkit-transform:scale(.9);
      -moz-transform:scale(.9);
      -ms-transform:scale(.9);
      -o-transform:scale(.9);
      transform:scale(.9)
  }
  70%{
      -webkit-transform:scale(1);
      -moz-transform:scale(1);
      -ms-transform:scale(1);
      -o-transform:scale(1);
      transform:scale(1)
  }
  100%{
      -webkit-transform:scale(.9);
      -moz-transform:scale(.9);
      -ms-transform:scale(.9);
      -o-transform:scale(.9);
      transform:scale(.9)
  }
}
@keyframes pulsescale{
  0%{
      -webkit-transform:scale(.9);
      -moz-transform:scale(.9);
      -ms-transform:scale(.9);
      -o-transform:scale(.9);
      transform:scale(.9)
  }
  70%{
      -webkit-transform:scale(1);
      -moz-transform:scale(1);
      -ms-transform:scale(1);
      -o-transform:scale(1);
      transform:scale(1)
  }
  100%{
      -webkit-transform:scale(.9);
      -moz-transform:scale(.9);
      -ms-transform:scale(.9);
      -o-transform:scale(.9);
      transform:scale(.9)
  }
}
@keyframes bgzoom{
  0%{
      background-size:140%
  }
  100%{
      background-size:100%
  }
}
@-webkit-keyframes bgzoom{
  0%{
      background-size:140%
  }
  100%{
      background-size:100%
  }
}
@keyframes flyingrobo{
  0%{
      -webkit-transform:translateY(14px);
      -moz-transform:translateY(14px);
      -ms-transform:translateY(14px);
      -o-transform:translateY(14px);
      transform:translateY(14px)
  }
  50%{
      -webkit-transform:translateY(10px);
      -moz-transform:translateY(10px);
      -ms-transform:translateY(10px);
      -o-transform:translateY(10px);
      transform:translateY(10px)
  }
  100%{
      -webkit-transform:translateY(14px);
      -moz-transform:translateY(14px);
      -ms-transform:translateY(14px);
      -o-transform:translateY(14px);
      transform:translateY(14px)
  }
}
@-webkit-keyframes flyingrobo{
  0%{
      -webkit-transform:translateY(14px);
      -moz-transform:translateY(14px);
      -ms-transform:translateY(14px);
      -o-transform:translateY(14px);
      transform:translateY(14px)
  }
  50%{
      -webkit-transform:translateY(10px);
      -moz-transform:translateY(10px);
      -ms-transform:translateY(10px);
      -o-transform:translateY(10px);
      transform:translateY(10px)
  }
  100%{
      -webkit-transform:translateY(14px);
      -moz-transform:translateY(14px);
      -ms-transform:translateY(14px);
      -o-transform:translateY(14px);
      transform:translateY(14px)
  }
}
@-webkit-keyframes flip_reverse{
  0%,100%{
      -webkit-transform:rotateY(0deg);
      -moz-transform:rotateY(0deg);
      -ms-transform:rotateY(0deg);
      -o-transform:rotateY(0deg);
      transform:rotateY(0deg)
  }
  50%{
      -webkit-transform:rotateY(180deg);
      -moz-transform:rotateY(180deg);
      -ms-transform:rotateY(180deg);
      -o-transform:rotateY(180deg);
      transform:rotateY(180deg)
  }
}
@keyframes flip_reverse{
  0%,100%{
      -webkit-transform:rotateY(0deg);
      -moz-transform:rotateY(0deg);
      -ms-transform:rotateY(0deg);
      -o-transform:rotateY(0deg);
      transform:rotateY(0deg)
  }
  50%{
      -webkit-transform:rotateY(180deg);
      -moz-transform:rotateY(180deg);
      -ms-transform:rotateY(180deg);
      -o-transform:rotateY(180deg);
      transform:rotateY(180deg)
  }
}
@-webkit-keyframes flip_averse{
  0%,100%{
      -webkit-transform:rotateY(180deg);
      -moz-transform:rotateY(180deg);
      -ms-transform:rotateY(180deg);
      -o-transform:rotateY(180deg);
      transform:rotateY(180deg)
  }
  50%{
      -webkit-transform:rotateY(0deg);
      -moz-transform:rotateY(0deg);
      -ms-transform:rotateY(0deg);
      -o-transform:rotateY(0deg);
      transform:rotateY(0deg)
  }
}
@keyframes flip_averse{
  0%,100%{
      -webkit-transform:rotateY(180deg);
      -moz-transform:rotateY(180deg);
      -ms-transform:rotateY(180deg);
      -o-transform:rotateY(180deg);
      transform:rotateY(180deg)
  }
  50%{
      -webkit-transform:rotateY(0deg);
      -moz-transform:rotateY(0deg);
      -ms-transform:rotateY(0deg);
      -o-transform:rotateY(0deg);
      transform:rotateY(0deg)
  }
}
@-webkit-keyframes jump{
  0%{
      transform:translateY(-5px)
  }
  50%{
      transform:translateY(5px)
  }
  100%{
      transform:translateY(-5px)
  }
}
@keyframes jump{
  0%{
      transform:translateY(-5px)
  }
  50%{
      transform:translateY(5px)
  }
  100%{
      transform:translateY(-5px)
  }
}
@-webkit-keyframes sky_bg{
  0%{
      left:0
  }
  100%{
      left:-994px
  }
}
@keyframes sky_bg{
  0%{
      left:0
  }
  100%{
      left:-994px
  }
}
@-webkit-keyframes hvr-pulse-grow{
  to{
      -webkit-transform:scale(1.05);
      -moz-transform:scale(1.05);
      -ms-transform:scale(1.05);
      -o-transform:scale(1.05);
      transform:scale(1.05)
  }
}
@keyframes hvr-pulse-grow{
  to{
      -webkit-transform:scale(1.05);
      -moz-transform:scale(1.05);
      -ms-transform:scale(1.05);
      -o-transform:scale(1.05);
      transform:scale(1.05)
  }
}
@keyframes smokeL{
  0%{
      transform:scale(.2) translate(0, 0)
  }
  10%{
      opacity:1;
      transform:scale(.2) translate(0, -5px)
  }
  100%{
      opacity:0;
      transform:scale(1) translate(-20px, -130px)
  }
}
@-webkit-keyframes smokeL{
  0%{
      transform:scale(.2) translate(0, 0)
  }
  10%{
      opacity:1;
      transform:scale(.2) translate(0, -5px)
  }
  100%{
      opacity:0;
      transform:scale(1) translate(-20px, -130px)
  }
}
@keyframes smokeR{
  0%{
      transform:scale(.2) translate(0, 0)
  }
  10%{
      opacity:1;
      transform:scale(.2) translate(0, -5px)
  }
  100%{
      opacity:0;
      transform:scale(1) translate(20px, -130px)
  }
}
@-webkit-keyframes smokeR{
  0%{
      transform:scale(.2) translate(0, 0)
  }
  10%{
      opacity:1;
      transform:scale(.2) translate(0, -5px)
  }
  100%{
      opacity:0;
      transform:scale(1) translate(20px, -130px)
  }
}
@-webkit-keyframes buzz{
  10%{
      -webkit-transform:translateX(3px) rotate(2deg);
      transform:translateX(3px) rotate(2deg)
  }
  20%{
      -webkit-transform:translateX(-3px) rotate(-2deg);
      transform:translateX(-3px) rotate(-2deg)
  }
  30%{
      -webkit-transform:translateX(3px) rotate(2deg);
      transform:translateX(3px) rotate(2deg)
  }
  40%{
      -webkit-transform:translateX(-3px) rotate(-2deg);
      transform:translateX(-3px) rotate(-2deg)
  }
  50%{
      -webkit-transform:translateX(2px) rotate(1deg);
      transform:translateX(2px) rotate(1deg)
  }
  60%{
      -webkit-transform:translateX(-2px) rotate(-1deg);
      transform:translateX(-2px) rotate(-1deg)
  }
  70%{
      -webkit-transform:translateX(2px) rotate(1deg);
      transform:translateX(2px) rotate(1deg)
  }
  80%{
      -webkit-transform:translateX(-2px) rotate(-1deg);
      transform:translateX(-2px) rotate(-1deg)
  }
  90%{
      -webkit-transform:translateX(1px) rotate(0);
      transform:translateX(1px) rotate(0)
  }
  100%{
      -webkit-transform:translateX(-1px) rotate(0);
      transform:translateX(-1px) rotate(0)
  }
}
@keyframes buzz{
  10%{
      -webkit-transform:translateX(3px) rotate(2deg);
      transform:translateX(3px) rotate(2deg)
  }
  20%{
      -webkit-transform:translateX(-3px) rotate(-2deg);
      transform:translateX(-3px) rotate(-2deg)
  }
  30%{
      -webkit-transform:translateX(3px) rotate(2deg);
      transform:translateX(3px) rotate(2deg)
  }
  40%{
      -webkit-transform:translateX(-3px) rotate(-2deg);
      transform:translateX(-3px) rotate(-2deg)
  }
  50%{
      -webkit-transform:translateX(2px) rotate(1deg);
      transform:translateX(2px) rotate(1deg)
  }
  60%{
      -webkit-transform:translateX(-2px) rotate(-1deg);
      transform:translateX(-2px) rotate(-1deg)
  }
  70%{
      -webkit-transform:translateX(2px) rotate(1deg);
      transform:translateX(2px) rotate(1deg)
  }
  80%{
      -webkit-transform:translateX(-2px) rotate(-1deg);
      transform:translateX(-2px) rotate(-1deg)
  }
  90%{
      -webkit-transform:translateX(1px) rotate(0);
      transform:translateX(1px) rotate(0)
  }
  100%{
      -webkit-transform:translateX(-1px) rotate(0);
      transform:translateX(-1px) rotate(0)
  }
}
@-webkit-keyframes rotateScale{
  0%{
      -webkit-transform:scale(1) rotateY(0deg);
      -moz-transform:scale(1) rotateY(0deg);
      -ms-transform:scale(1) rotateY(0deg);
      -o-transform:scale(1) rotateY(0deg);
      transform:scale(1) rotateY(0deg)
  }
  50%{
      -webkit-transform:scale(1.3) rotateY(180deg);
      -moz-transform:scale(1.3) rotateY(180deg);
      -ms-transform:scale(1.3) rotateY(180deg);
      -o-transform:scale(1.3) rotateY(180deg);
      transform:scale(1.3) rotateY(180deg)
  }
  100%{
      -webkit-transform:scale(1) rotateY(360deg);
      -moz-transform:scale(1) rotateY(360deg);
      -ms-transform:scale(1) rotateY(360deg);
      -o-transform:scale(1) rotateY(360deg);
      transform:scale(1) rotateY(360deg)
  }
}
@keyframes rotateScale{
  0%{
      -webkit-transform:scale(1) rotateY(0deg);
      -moz-transform:scale(1) rotateY(0deg);
      -ms-transform:scale(1) rotateY(0deg);
      -o-transform:scale(1) rotateY(0deg);
      transform:scale(1) rotateY(0deg)
  }
  50%{
      -webkit-transform:scale(1.2) rotateY(180deg);
      -moz-transform:scale(1.2) rotateY(180deg);
      -ms-transform:scale(1.2) rotateY(180deg);
      -o-transform:scale(1.2) rotateY(180deg);
      transform:scale(1.2) rotateY(180deg)
  }
  100%{
      -webkit-transform:scale(1) rotateY(360deg);
      -moz-transform:scale(1) rotateY(360deg);
      -ms-transform:scale(1) rotateY(360deg);
      -o-transform:scale(1) rotateY(360deg);
      transform:scale(1) rotateY(360deg)
  }
}
@-webkit-keyframes rotating{
  from{
      -webkit-transform:rotate(0deg);
      -moz-transform:rotate(0deg);
      -ms-transform:rotate(0deg);
      -o-transform:rotate(0deg);
      transform:rotate(0deg)
  }
  to{
      -webkit-transform:rotate(360deg);
      -moz-transform:rotate(360deg);
      -ms-transform:rotate(360deg);
      -o-transform:rotate(360deg);
      transform:rotate(360deg)
  }
}
@keyframes rotating{
  from{
      -webkit-transform:rotate(0deg);
      -moz-transform:rotate(0deg);
      -ms-transform:rotate(0deg);
      -o-transform:rotate(0deg);
      transform:rotate(0deg)
  }
  to{
      -webkit-transform:rotate(360deg);
      -moz-transform:rotate(360deg);
      -ms-transform:rotate(360deg);
      -o-transform:rotate(360deg);
      transform:rotate(360deg)
  }
}
@keyframes hightlightdigit_adaptive{
  0%{
      background-position-y:-85px
  }
  49.99%{
      background-position-y:-85px
  }
  50%{
      background-position-y:0
  }
  99.99%{
      background-position-y:0
  }
  100%{
      background-position-y:-85px
  }
}
@media (min-width:991px) and (max-width:1440px){
  h1{
      font-size:1.8em !important
  }
  h2,h3,h4{
      font-size:1.4em
  }
}
@media (min-width:320px) and (max-width:768px){
  #CCPrizeTable .modal-cc-header .ui-plus-minus{
      position:static
  }
  #CCPrizeTable .modal-cc-header .ui-currency{
      position:static;
      margin-top:15px
  }
  #CCPrizeTable .modal-cc-header .ui-header{
      padding:0 40px 0 0;
      position:absolute;
      right:0;
      max-width:320px
  }
  #CCPrizeTable .modal-title{
      color:#fff;
      text-align:right;
      font-size:32px !important
  }
  #CCPrizeTable .modal-cc-header .close{
      position:absolute;
      right:0;
      top:0
  }
  #CCPrizeTable .modal-dialog{
      width:auto
  }
  .prize_table__wrapper .table thead tr th:first-child{
      width:60%
  }
}
@media (min-width:320px) and (max-width:960px){
  .row-eq-height{
      display:block !important
  }
  .play_section{
      overflow:hidden
  }
  .play_bnt_block{
      padding-top:20px;
      height:90px
  }
  .play_bnt_block div{
      display:block;
      position:absolute;
      left:50%;
      width:120px;
      text-align:center;
      top:-18px
  }
  .play_bnt_block div p{
      display:inline-block;
      vertical-align:middle;
      font-size:12px
  }
  .play_bnt_block div p strong{
      font-size:1em !important
  }
  .game_section{
      min-height:300px
  }
  .game_section .cc_machine{
      background:#272524;
      width:100%;
      height:auto;
      position:relative;
      left:auto;
      top:auto;
      margin:0;
      overflow:hidden;
      min-height:580px
  }
  .game_section .cc_machine #sound_control{
      width:20px;
      height:20px;
      display:block;
      position:absolute;
      right:50%;
      top:130px;
      background:url(../../assets/img/sound-on.svg) no-repeat;
      background-size:contain;
      cursor:pointer;
      opacity:.4;
      z-index:2;
      margin-right:-145px
  }
  .game_section .cc_machine #sound_control.off{
      right:50%
  }
  .game_section .cc_machine .blinking_diod{
      display:none
  }
  .game_section .cc_machine .cc_balance{
      display:block;
      position:absolute;
      top:210px;
      left:50%;
      font-size:1em;
      font-weight:700;
      color:#fff;
      text-align:center;
      user-select:none;
      width:130px;
      font-family:'PFDinTextCondPro','Arial';
      margin-left:-140px
  }
  .game_section .cc_machine .combo_block{
      width:100%;
      height:160px;
      position:relative;
      left:auto;
      top:auto;
      margin:0 auto;
      background:#171819;
      text-align:center;
      padding:15px 0 40px 0
  }
  .game_section .cc_machine .combo_block:after{
      content:'';
      width:224px;
      height:44px;
      position:absolute;
      left:50%;
      bottom:0;
      background:url(../../assets/img/ccgame_machine_bg.jpg) no-repeat 0 -39px;
      display:block;
      margin:0 0 0 -112px
  }
  .game_section .cc_machine .digit{
      height:81px;
      width:44px;
      margin-left:2px;
      margin-right:2px;
      background:url(../../assets/img/cc_digits_adaptive.png?1) no-repeat;
      display:inline-block
  }
  .game_section .cc_machine .digit_0{
      background-position-x:-44px
  }
  .game_section .cc_machine .digit_1{
      background-position-x:-88px
  }
  .game_section .cc_machine .digit_2{
      background-position-x:-132px
  }
  .game_section .cc_machine .digit_3{
      background-position-x:-176px
  }
  .game_section .cc_machine .digit_4{
      background-position-x:-220px
  }
  .game_section .cc_machine .digit_5{
      background-position-x:-264px
  }
  .game_section .cc_machine .digit_6{
      background-position-x:-308px
  }
  .game_section .cc_machine .digit_7{
      background-position-x:-352px
  }
  .game_section .cc_machine .digit.highlighted{
      -webkit-animation:hightlightdigit_adaptive .5s linear infinite alternate;
      -moz-animation:hightlightdigit_adaptive .5s linear infinite alternate;
      -ms-animation:hightlightdigit_adaptive .5s linear infinite alternate;
      -o-animation:hightlightdigit_adaptive .5s linear infinite alternate;
      animation:hightlightdigit_adaptive .5s linear infinite alternate
  }
  .game_section .cc_machine .play_bnt_block{
      position:relative;
      right:auto;
      bottom:auto;
      margin:20px auto
  }
  .game_section .cc_machine .multiplier_block{
      width:210px;
      height:auto;
      position:relative;
      bottom:auto;
      text-align:center;
      left:auto;
      margin:-10px auto 10px auto
  }
  .game_section .cc_machine .prize_list_block{
      width:150px;
      height:45px;
      font-size:1em;
      text-transform:uppercase;
      text-align:center;
      line-height:45px;
      color:#fff;
      font-weight:900;
      position:absolute;
      right:50%;
      padding-right:0;
      top:110px;
      margin-right:-75px
  }
  .game_section .cc_machine .game_glitch{
      width:292px;
      height:232px;
      position:absolute;
      color:#03dccf;
      overflow:hidden;
      right:50%;
      bottom:20px;
      background:url(../../assets/img/ccgame_monitor.png) no-repeat center center;
      background-size:contain;
      margin-right:-146px
  }
}
@media (min-width:769px) and (max-width:991px){
  h1{
      font-size:1.6em !important
  }
  h2,h3,h4{
      font-size:1.4em 
  }
  .play_section__bets .with-provably .money-link{
      float:right
  }
}
@media (min-width:320px) and (max-width:768px){
  .bigwin-overlay .bigwin-panel .bigwin-header{
      font-size:2em
  }
  h1{
      font-size:1.4em !important
  }
  h2,h3,h4{
      font-size:1.2em 
  }
  .winner__modal_table .table tbody tr td a{
      max-width:90px
  }
  .play_section__bets .with-provably{
      margin-bottom:0
  }
  .play_section__bets .with-provably .provably{
      margin:0
  }
  .play_section .money-link{
      float:left
  }
}
@media (min-width:320px) and (max-width:470px){
  .combo_results li{
      margin:0 3px
  }
  #CCPrizeTable .modal-cc-header .ui-header{
      display:none
  }
}
