@media (min-width: 768px) and (max-width: 991px) {
  .winner_wrapper > div {
    width: 100%;
  }
  .game_statistics_section.row-eq-height {
    display: block;
  }
  .game_statistics_section__block .table_wrapper {
    padding: 40px 0 0 40px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .row-eq-height {
    display: block !important;
  }
  .pl-sm {
    padding-left: 40px!important;
  }
  .game_statistics_section__block .table_wrapper {
    padding: 15px 0 0 40px;
  }
}
@media (max-width: 479px) {
  .row-eq-height {
    display: block !important;
  }
  .game_statistics_section__block .table_wrapper {
    padding: 15px 0 0 40px;
    color: #fff;
  }
  .pl-sm {
    padding-left: 40px!important;
  }
}
@media (max-width: 1280px) {
  .how2play_row {
    padding: 40px;
  }
  .faq_section {
    padding: 40px;
  }
  .faq_section h4 {
    text-align: center;
  }
  .advantages_section {
    padding: 40px;
  }
  .advantages_section h4 {
    text-align: center;
  }
  .carousel_section .carousel-inner .item {
    padding: 30px 40px 40px;
    min-height: 450px;
  }
}
@media (min-width: 1280px) and (max-width: 1564px) {
  .jackpot_section .jackpot_section__content {
    width: 45%;
  }
  .winner_wrapper > div {
    width: 50%;
  }
}
