<link rel="stylesheet" href="css/main.min.css">
<body>
  <div class="modal">
    <div class="container">
      <button class="close">&times;</button>
      <div class="modal-top"> 
        <p>1 free ticket to every new user</p>
        <button class="button button-red">sign up</button> 
      </div>
      <div class="video">
        <iframe src="https://www.youtube.com/embed/0uR9l15pExk" width="80%" height="80%" frameborder="0"></iframe>
      </div>
      
    </div>
  </div> 
</body>
