@keyframes effect_left 
  0%
    opacity: 0
    transform: translate(-50px)
  100%
    opacity: 1
    transform: translate(0)

@keyframes effect_right 
  0%
    opacity: 0
    transform: translate(50px)
  100%
    opacity: 1
    transform: translate(0)

@keyframes circles
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes down
  0%
    opacity: 0
    transform: translateY(-50px)
  100%
    opacity: 1
    transform: translateY(0)

@keyframes up
  0%
    opacity: 0
    transform: translateY(50px)
  100%
    opacity: 1
    transform: translateY(0)



.opacity
  opacity: 0

.left
  animation-name: effect_left
  animation-duration: 1.5s
  animation-fill-mode: both

.right
  animation-name: effect_right
  animation-duration: 1.5s
  animation-fill-mode: both

.circle-show
  animation-name: circles
  animation-duration: 1.5s
  animation-delay: 0.5s
  animation-fill-mode: both

.down
  animation-name: down
  animation-duration: 1.5s
  animation-fill-mode: both

.up
  animation-name: up
  animation-duration: 1.5s
  animation-fill-mode: both


.dot-3
  animation-name: circles
  animation-duration: 1.5s
  animation-delay: 1.5s
  animation-fill-mode: both
  animation-iteration-count: infinite
.dot-2
  animation-name: circles
  animation-duration: 1.5s
  animation-delay: 1s
  animation-fill-mode: both
  animation-iteration-count: infinite
.dot-1
  animation-name: circles
  animation-duration: 1.5s
  animation-delay: 0.5s
  animation-fill-mode: both
  animation-iteration-count: infinite