.chain-code
  background-color: $grey
  position: relative
  padding-bottom: 60px
  padding-top: 20px

  .circle-chain
    background-image: url(../img/chains-code.png)
    position: absolute
    background-size: contain
    background-repeat: no-repeat
    width: 350px
    height: 631px
    right: 0
    top: 0px

  .container
    position: relative
    z-index: 10

  .circle-yellow
    background-image: url(../img/circle.png)
    width: 260px
    height: 260px
    background-size: contain
    background-repeat: no-repeat
    position: absolute
    top: 70%
    left: 20%
    z-index: 2
  
  .h2
    span
      color: $green

  .chain-game
    margin-top: 20px
    position: relative
    margin-left: 0
    margin-right: auto
    overflow: hidden
    width: 340px
    height: 250px
    video
      position: absolute
      //left: 30%
      //transform: translateX(-30%)
      width: 340px

  .special
    margin-top: 30px
    max-width: 400px
    li
      &::before
        font-size: 48px
        margin-right: 10px
        vertical-align: middle
    li:first-child
      &::before
        content: '⛓'
    li:nth-child(2)
      &::before
        content: '🎰'
    li:last-child
      &::before
        content: '🎮'

  .btns
    display: flex
    align-items: center
    p
      display: inline-block
      margin-left: 15px
      margin-right: 15px
    .button
      min-width: 230px
      &.button-green
        background-color: $green
        box-shadow: 0px 4px 0 0 darken($green, 10%)
        color: white
        &:focus, &:hover
          text-decoration: none
          color: #ffffff
        &:hover
          background-color: lighten($green, 5%)
          box-shadow: 0px 4px 0 0 lighten($green, 1%)
          
        &:active
          background-color: darken($green, 5%)
          box-shadow: 0px 4px 0 0 darken($green, 15%)

      &.button-green2
        background-color: transparent
        border: 4px solid $green
        height: 58px
        color: $green
        box-shadow: none
        line-height: 50px
        &:focus, &:hover
          text-decoration: none
          color: darken($green, 5%)
          
        &:hover
          background-color: transparent
          border: 4px solid lighten($green, 5%)
          color: lighten($green, 5%)
          
        &:active
          background-color: tansparent
          border: 4px solid darken($green, 5%)
          color: darken($green, 5%)
          