.flips-star
  background-color: $grey
  position: relative
  padding-bottom: 40px
  padding-top: 20px

  .input-group
    height: 120px

  .container
    position: relative
    z-index: 10

  .circle-flip
    background-image: url(../img/flip-star.png)
    background-size: contain
    background-repeat: no-repeat
    width: 400px
    height: 631px
    position: absolute
    right: 0
    top: -80px
  .circle-yellow
    background-image: url(../img/circle.png)
    width: 260px
    height: 260px
    background-size: contain
    background-repeat: no-repeat
    position: absolute
    top: 60%
    left: 30%
    z-index: 2

  .h2
    span
      color: #422458

  
  .special
    position: relative
    z-index: 10
    li
      &::before
        font-size: 48px
        margin-right: 10px
        vertical-align: middle
        display: block
    li:first-child
      &::before
        content: '💵'
    li:nth-child(2)
      &::before
        content: "\1F9E0"
    li:last-child
      &::before
        content: '🕰'
          

.input-group
  height: 120px
  form
    margin: 0
    padding: 0
    display: flex
    box-shadow: 0px 4px 0 0 darken($yellow, 10%)
    border-radius: 3px
    max-width: 610px
    width: 100%
    position: relative
    z-index: 10
      
    .input-yellow
      flex-grow: 5
      border-color: $yellow
      border-radius: 3px 0 0 3px
      margin: 0
      background-image: url(../img/lock-yellow.png)
      background-repeat: no-repeat
      background-size: 25 auto
      background-position: 95% center
      
    .button-yellow
      flex-grow: 1
      background-color: $yellow
      border-radius: 0 3px 3px 0
      box-shadow: none
      padding: 0
      margin: 0
      &:focus, &:hover
        text-decoration: none
        color: #ffffff
      &:hover
        background-color: lighten($yellow, 5%)
        box-shadow: 0px 4px 0 0 lighten($yellow, 1%)
        
      &:active
        background-color: darken($yellow, 5%)
        box-shadow: 0px 4px 0 0 darken($yellow, 15%)
    
    .error
      position: absolute
      top: 60px

  .thanks-flip
    .refresh-reg-flip
      width: 40px
      height: 40px
      line-height: 40px
      font-size: 40px
      background: none
      border: none
      color: $yellow
      padding: 0
      transition: transform .1s ease, color .1s ease
      background-image: url(../img/circle.png)
      background-size: contain
      background-repeat: no-repeat
      &:hover
        transform: rotate(85deg)
      &:active
        color: darken($yellow, 5%)
    p
      font-family: "PT_Sans"
      color: $black
      font-weight: normal
      font-size: 20px
      letter-spacing: 0.5px
      padding-top: 10px

.h2
  font-weight: bold
  font-size: 54px
  font-family: "OksanaSans", serif
  color: #2B1848
  span
    font-size: 64px
    text-transform: uppercase

.title
  font-family: "OksanaSans", serif
  font-size: 36px
  font-weight: normal
  color: #2B1848
    

.special
  list-style: none
  margin-top: 30px
  padding: 0
  li
    display: flex
    padding-bottom: 10px
    align-items: center
    span
      color: $black
      font-family: "PT_Sans", sans-serif
      font-weight: normal
      font-size: 20px
      display: block
