.footer
  height: 100vh
  min-height: 700px
  background-color: $grey
  background-image: url(../img/bg-footer.png)
  background-repeat: no-repeat
  background-position: top center
  background-size: cover
  text-align: center
  vertical-align: middle
  position: relative
  padding-top: 40px

  .circle
    background-image: url(../img/circle2.png)
    width: 230px
    height: 230px
    position: absolute
    top: 40%
    left: 50%
    
  .top
    position: relative
    z-index: 2
    margin-top: 80px
    .logo
      img
        width: 250px
        height: 72px
       
    
    p
      margin-left: auto
      margin-right: auto
      z-index: 2
      &:first-of-type
        font-family: "OksanaSans", sans-serif
        font-weight: bold
        font-size: 36px
        color: $yellow
        padding-top: 90px
      
    
    .input-group-footer
      height: 60px
      .drawing
        font-size: 24px
        color: $lightyellow
        padding-top: 20px
        font-weight: normal
        span
          font-weight: bold
      form
        display: flex
        margin-right: auto
        margin-left: auto
        width: 610px
        box-shadow: 0px 4px 0 0 darken($red, 10%)
        border-radius: 3px
        position: relative
        .input-red
          flex-grow: 5
          border-color: $red
          border-radius: 3px 0 0 3px
          margin: 0
          background-image: url(../img/lock-red.png)
          background-repeat: no-repeat
          background-size: 25 auto
          background-position: 95% center
        
        .button-red
          flex-grow: 1
          background-color: $red
          border-radius: 0 3px 3px 0
          box-shadow: none
          padding: 0
          margin: 0
          &:focus, &:hover
            text-decoration: none
            color: #ffffff
          &:hover
            background-color: lighten($red, 5%)
            box-shadow: 0px 4px 0 0 lighten($red, 1%)
            
          &:active
            background-color: darken($red, 5%)
            box-shadow: 0px 4px 0 0 darken($red, 15%)
        .error
          position: absolute
          top: 60px
          left: 0
        
      .thanks-footer
        display: flex
        flex-direction: column
        max-width: 600px
        margin-right: auto
        margin-left: auto
        .refresh-reg-footer
          width: 40px
          height: 40px
          line-height: 40px
          font-size: 40px
          background: none
          border: none
          color: $red
          padding: 0
          transition: transform .1s ease, color .1s ease
          margin-right: 0
          margin-left: auto
          background-image: url(../img/circle2.png)
          background-size: contain
          background-repeat: no-repeat
          &:hover
            transform: rotate(85deg)
          &:active
            color: darken($red, 5%)
        p
          font-family: "PT_Sans"
          color: $white
          font-weight: normal
          font-size: 20px
          letter-spacing: 0.5px
          padding-top: 10px

  .bottom
    position: absolute
    bottom: 0
    left: 0
    right: 0

    .icons
      display: flex
      width: 610px
      justify-content: space-between
      align-items: flex-end
      margin-left: auto
      margin-right: auto
      .icon
        width: 50px
        height: 50px
        background-size: contain
        background-repeat: no-repeat
        background-position: center
        &.itech
          background-image: url(../img/itech.png)
        &.curacao
          background-image: url(../img/license.png)
        &.visa
          background-image: url(../img/visa.png)
        &.mastercard
          background-image: url(../img/mastercard.png)
        &.ether
          background-image: url(../img/eth.png)
        &.bitcoin
          background-image: url(../img/bitcoin.png)
        &.dash
          background-image: url(../img/dash.png)
        &.light
          background-image: url(../img/light.png)
    p
      color: #B2B2B2
      font-size: 12px
      width: 600px
      padding-top: 10px
      font-family: "PT_Sans"
      font-weight: normal
      text-align: center
      margin-right: auto
      margin-left: auto
