

  
.header
  height: 100vh
  min-height: 700px
  background-color: $grey
  background-image: url(../img/bg-head.png)
  background-repeat: no-repeat
  background-position: bottom center
  background-size: cover
  padding-top: 50px
  
  .fp-tableCell
    padding-top: 0

 

  
  p
      position: relative

  .preview
    position: relative
    z-index: 1

    .h2
      color: $darkyellow
      font-size: 64px
      font-weight: bold
      font-family: "OksanaSans", serif
      margin-top: 20px
      >span
        color: white
        text-transform: none

    .block-video
      margin-top: 20px
      display: flex
      justify-content: flex-start
      align-items: center
      p
        font-size: 20px
        color: white
        font-family: "PT_Sans", sans-serif
        font-weight: bold
        letter-spacing: 0.5px
        display: block
        width: 400px

      .video-prev
        background-image: url(../img/video_prev.png)
        background-size: contain
        width: 210px
        height: 210px
        background-position: center
        background-repeat: no-repeat
        display: block
        margin-right: 30px
        

    p
      font-size: 30px
      color: $lightyellow
      font-family: "OksanaSans", serif

    .button-red
      color: #ffffff
      text-align: center
    

  .signup
    text-align: center
    position: relative

    .logo
      img
        display: block
        text-align: center
        margin: auto
        margin-top: 20px
        width: 250px
        height: auto


    p:first-of-type
      font-family: "OksanaSans"
      color: $yellow
      font-size: 30px
      font-weight: bold

    .registration-form-wrapper
      height: 244px
      position: relative
      p:first-of-type
        font-family: "PT_Sans"
        color: white
        font-weight: normal
        font-size: 18px
        letter-spacing: 0.5px
      p.protected
        font-family: "PT_Sans"
        color: $lightyellow
        font-weight: normal
        font-size: 14px
        opacity: 0.7
      .thanks
        p
          font-family: "PT_Sans"
          color: white
          font-weight: normal
          font-size: 20px
          letter-spacing: 0.5px
          padding-top: 70px
        .refresh-reg
          position: absolute
          z-index: 20
          width: 40px
          height: 40px
          line-height: 40px
          font-size: 40px
          background: none
          border: none
          color: $red
          position: absolute
          top: 20px
          right: 20px
          padding: 0
          transition: transform .1s ease, color .1s ease
          background-image: url(../img/circle2.png)
          background-size: contain
          background-repeat: no-repeat
          &:hover
            transform: rotate(85deg)
          &:active
            color: darken($red, 5%)
    
    .circle
      width: 250px
      height: 250px
      background-image: url(../img/circle2.png)
      position: absolute
      background-size: contain
      top: 20%
      left: -25%
      z-index: 0
      

    .license
      display: flex
      justify-content: center
      align-items: center
      margin-top: 20px
      img
        height: 57px
        width: auto
        margin-right: 10px

      p
        font-family: "PT_Sans"
        color: $lightyellow
        font-weight: normal
        font-size: 12px
        opacity: 0.5
        text-align: left

  .button-red
    width: 100%
    color: white
    
  .input-red
    width: 100%
    height: 55px

  .scroll
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    .dot
      width: 5px
      height: 5px
      border-radius: 50%
      background-color: $yellow
      margin-bottom: 5px
    img
      width: 50px
      height: 50px

    
.button
  height: 55px
  display: inline-block
  border: none
  color: #ffffff
  font-family: "OksanaSans"
  text-decoration: none
  background-color: $red
  font-size: 20px
  text-transform: uppercase
  font-weight: bold
  letter-spacing: 1px
  border-radius: 3px
  text-align: center
  line-height: 55px
  position: relative
  outline: none
  margin-bottom: 20px
  transition: background-color .1s ease, box-shadow .2s ease
  box-shadow: 0px 4px 0 0 darken($red, 10%)
  &:focus, &:hover
    text-decoration: none
    color: #ffffff
  &:hover
    background-color: lighten($red, 5%)
    box-shadow: 0 4px 0 0 darken($red, 5%)
  &:active
    background-color: darken($red, 5%)
    box-shadow: 0 4px 0 0 darken($red, 15%)
  

.input
  height: 55px
  display: inline-block
  border: none
  color: $black
  font-family: "PT_Sans"
  text-decoration: none
  background-color: #F2F2F2
  font-size: 20px
  font-weight: normal
  letter-spacing: 1px
  border-radius: 3px
  text-align: left
  padding: 15px
  position: relative
  outline: none
  transition: background-color .1s ease, box-shadow .2s ease
  border: 3px solid $red
  &.input-red
      background-image: url(../img/lock-red.png)
      background-repeat: no-repeat
      background-size: 25 auto
      background-position: 95% center





