@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
  // Header
  .header
    height: 100vh
    min-height: 650px
    .preview
      .h2
        font-size: 56px
        span
          font-size: 56px
      p
        font-size: 25px
      .block-video
        margin-top: 50px
        .video-prev
          width: 200px
          height: 200px
        p
          width: 300px
    .signup
      .logo
        img
          width: 200px
          height: auto
      .registration-form-wrapper
        p:first-of-type
          font-size: 20px
        p.protected
          margin-bottom: 0px
      .license
        
        p
          font-size: 10px
          margin-bottom: 0
          
      .button
        margin-bottom: 10px
    .scroll
      margin-top: 0px



  // Flip's Stars
  .h2 
    font-size: 40px
    span
      font-size: 45px
  .title
    font-size: 25px
    
  .special
    margin-top: 16px
    li
      padding-bottom: 15px
      span
        font-size: 16px
      &::before
        font-size: 30px
      

  .flips-star
    .circle-flip
      top: 0px
      height: 500px
      width: 300px
      right: 0
    .special
      max-width: 450px
      li
        &::before
          font-size: 30px

  // Rapid to the moon
  .rapid
    .circle-moon
      height: 500px
      width: 300px
      top: 0px

  // Chain's code
  .chain-code
    .circle-yellow
      top: 65%
    .circle-chain
      width: 300px
      height: 500px
    .special
      max-width: 300px
      margin-left: 20px
      li
        &::before
          font-size: 30px
    .chain-game
      width: 310px
      video
        width: 310px

  // Pirate Bay
  .pirate-bay
    .circle-yellow
      top: 50%
    .circle-bay
      width: 300px
      height: 400px
      top: 0px
    .pirate-game
      width: 210px
      height: 300px
    .special
      margin-top: 30px
      width: 400px
      li
        &::before
          font-size: 30px
    .btns
      margin-top: -60px

    .pirate-game
     video
      width: 430px


  // Modal
  .modal-content
    .video
      padding-bottom: 30px
      iframe
        height: 524px
  
  // Footer
  .footer
    min-height: 600px
    .top
      margin-top: 80px
      p:first-of-type
        padding-top: 20px


// ≥992px
+media-breakpoint-down(md)
  // Header
  .header
    min-height: 600px
    .preview
      .h2
        font-size: 46px
        >span
          font-size: 46px
      
      p
        font-size: 18px
        width: 435px
    
      .block-video
        .video-prev
          height: 150px
          width: 150px
        p
          font-size: 18px
          width: 250px


    .signup
      .logo
        img
          width: 150px
          height: auto
      
      p:first-of-type
        font-size: 24px
        margin-bottom: 10px
      p:nth-of-type(2)
        font-size: 14px
      p:nth-of-type(3)
        font-size: 10px

      .circle
        top: 15%

      .license
        img
          height: 52px
          width: auto
        p
          font-size: 12px
    
    .scroll
      margin-top: -70px
      .dot
        width: 4px
        height: 4px
      img
        width: 40px
        height: 40px

  .button
    font-size: 18px

  .input
    font-size: 18px

  // Flip's Star
  .flips-star
    .circle-yellow
      height: 200px
      width: 200px
      left: 40%
    .circle-flip
      top: 0px
      width: 170px
      height: 270px
    .input-group
      height: 80px
      .thanks-flip
        p
          font-size: 18px
    #noty_layout__topRight
      width: 250px
      .noty_theme__mint.noty_type__success
        .noty_body
          .notify
            &::before
              font-size: 30px
          .notify-title
            font-size: 18px
          .notify-message
            font-size: 10px
            
         
  .h2
    font-size: 35px
    span
      font-size: 40px
  .title
    font-size: 28px
    padding-top: 10px
    margin-bottom: 10px

  .special
    padding: 0
    li
      span
        font-size: 14px

  // Rapid to the moon
  .rapid
    .circle-yellow
      width: 200px
      height: 200px
    .circle-moon
      width: 170px
      height: 270px
    .h2
      max-width: 430px
      margin-left: auto
    .gain
      margin-top: 40px
      margin-bottom: 40px
      p
        font-size: 18px
        span
          font-size: 25px
    .jackpot
      font-size: 18px
      margin-bottom: 10px

    .input-group-rapid
      height: 140px

  // Chain's code
  .chain-code
    .circle-yellow
      width: 200px
      height: 200px
    .circle-chain
      width: 170px
      height: 280px
    .title
      max-width: 450px
    .h2
      max-width: 400px
    .chain-game
      width: 210px
      height: 200px
      video
        width: 210px
        padding-top: 30px
        

  // Pirate Bay
  .pirate-bay
    .circle-yellow
      width: 200px
      height: 200px
      top: 50%
    .circle-bay
      width: 170px
      height: 280px
      top: 0px
    .h2
      max-width: 400px
    .special
      margin-top: 0px
      width: 320px
    .pirate-game
      width: 150px
      height: 200px
    .special
      width: 280px
      li
        &::before
          font-size: 30px
    .btns
      margin-top: 0
    .button
      margin-bottom: 10px

    p
      font-size: 18px
      span
        20px
    .pirate-game
      video
        margin-top: 10px
        width: 300px    
    
  // Footer
  .footer
    min-height: 500px
    .top
      margin: 0px
      margin-top: 60px
      .logo
        img
          width: 200px
          height: auto
      p:first-of-type
        font-size: 25px
      .input-group-footer
        .drawing
          font-size: 18px
    .bottom
      p
        margin-bottom: 10px
        padding-top: 5px
      .icons
        width: 400px
        .icon
          width: 30px
          height: 30px
  // Modal
  .modal-content
    .video
      padding-bottom: 30px
      iframe
        width: 730px
        height: 405px

// ≥768px
+media-breakpoint-down(sm)
  // Header
  .header
    min-height: 500px
    padding-top: 0
    .preview
      padding-top: 10px
      .h2
        font-size: 50px
        >span
          font-size: 50px   
      p
        font-size: 20px
        max-width: 300px

      .block-video
        margin: 0
        .video-prev
          margin-right: 15px
        p
          font-size: 14px

      


    .signup
      padding-top: 20px
      .logo
        img
          width: 150px
          height: auto
          text-align: center
          display: block

      p:first-of-type
        font-size: 24px
      p:nth-of-type(3)
        font-size: 12px
      .circle
        width: 200px
        height: 200px
        top: 40%

      .license
        margin-top: 0px
        img
          height: 48px
          width: auto
        p
          font-size: 10px

      .registration-form-wrapper
        p.type-email
          font-size: 18px
        p.protected
          font-size: 12px

  // Flip's Star
  .flips-star
    padding-top: 30px
    padding-bottom: 40px
    .circle-flip
      top: 0px
      width: 150px
      height: 300px
    .special
      max-width: 400px
      li
        padding-bottom: 0
        span
          font-size: 16px
  .h2
    font-size: 35px
    max-width: 400px
    margin-bottom: 0px
    span
      font-size: 40px
  .title
    font-size: 28px
    margin-bottom: 5px
  .input-group
    .thanks-flip
      display: flex
      p
        max-width: 350px
        margin-left: 30px

  

  // Rapid to the moon
  .rapid
    padding-top: 40px
    .circle-moon
      width: 150px
      height: 300px
    .circle-yellow
      top: 65%
      left: 40%
    .title
      max-width: 400px
      margin-left: auto
    .h2
    
    .gain
      p
        font-size: 18px
        span
          font-size: 28px
    .input-group-rapid
      .thanks-rapid
        display: flex
        flex-direction: row-reverse
        .refresh-reg-rapid 
          margin-left: 30px
        p
          max-width: 350px
        

  //Chain's code
  .chain-code
    padding-top: 40px
    .circle-yellow
      top: 70%
      left: 25%
    .circle-chain
      width: 150px
      height: 300px
    .h2
      max-width: 300px
    .title
      max-width: 300px
      margin: 0
    .chain-game
      width: 150px
      height: 180px
      margin-left: auto
      margin-right: auto
      margin-top: 5%
      video
        width: 150px
        padding-top: 60px
    .special
      padding-bottom: 20px

  // Pirate bay
  .pirate-bay
    padding-top: 40px
    .circle-bay
      width: 150px
      height: 300px
    .circle-yellow
      left: 30%
      top: 60%
    .title
      width: 100%
      margin-right: 0
      margin-left: auto
      text-align: right
    .btns
      justify-content: flex-start
      padding-left: 0
      padding-right: 0
      padding-top: 10px
      margin: 0
    .special
      padding-top: 50px
      max-width: 290px
    .pirate-game
      height: 250px
      video
        margin-top: 50px

  // Footer
  .footer
    .circle
      top: 30%
      left: 55%

    .top
      margin: 0
      padding-top: 60px
  
      p
        &:nth-of-type(2)
          font-size: 18px
      .input-group-footer
        form
          width: 510px
      
        .thanks-footer
          display: flex
          flex-direction: row-reverse
          .refresh-reg-footer 
            margin-left: 30px
          p
            max-width: 350px
            margin: 0
    
    .bottom
      .icons
        width: 510px
        .icon
          width: 40px
          height: 40px
      p
        width: 510px

  // Modal
  .modal-content
    .modal-top
      max-width: 80%
      flex-wrap: wrap
      p
        font-size: 20px
        width: 100%
      .button-red
        width: 250px
  .reg-modal
    .input-group-modal
      form
       width: 100%
      p
        font-size: 18px
    .modal-bottom
      width: 100%
  .modal-content
    .video
      iframe
        height: 304px

// ≥576px
+media-breakpoint-down(xs)

  // Header
  .header
    min-height: 550px
    padding-top: 0px
    .preview
      .logo
        img
          width: 150px
          height: auto
          text-align: center
          display: inline-block
          margin-top: 30px
      
      .h2
        font-size: 40px
        margin-top: 10px
        max-width: 400px
        >span
          font-size: 40px
          
      p:first-of-type
        font-size: 18px
      p:last-of-type
        font-size: 14px
  
  .button
    height: 50px
    margin-top: 20px

  //FlipStar
  .flips-star
    padding-bottom: 40px
    padding-top: 30px
    .circle-flip
      top: 0px
      width: 90px
      height: 140px
    .circle-yellow
      width: 200px
      height: 200px
      left: 30%
    .special
      margin-top: 10px
      margin-bottom: 0px
      li
        padding-bottom: 10px
        span
          font-size: 16px
    
    .input-group
      height: 130px
      .thanks-flip
        height: 130px
        margin-top: 10px
        .refresh-reg-flip
          width: 30px
          height: 30px
          line-height: 30px
          font-size: 30px
        p
          font-size: 16px
          max-width: 200px
  .h2
    font-size: 30px
    max-width: 300px
    span
      font-size: 35px
  .title
    font-size: 20px
    max-width: 200px
  
  
   
  .input-group
    height: 130px
    form
      margin-top: 10px
      display: block
      box-shadow: none
      height: 130px

      .input-yellow
        border-color: $yellow
        border-radius: 3px
        width: 100%
        font-size: 16px
      
      .button-yellow
        background-color: $yellow
        border-radius: 3px
        box-shadow: 0 4px 0 0 darken($yellow, 10%)
        margin-top: 20px
        width: 100%
      .error
        top: 52px

    .thanks-flip
      
        

  // Rapid to the moon
  .rapid
    .circle-moon
      width: 90px
      height: 140px
      transform: scaleX(-1)
      right: 0
      top: -15px
    .circle-yellow
      width: 200px
      height: 200px
      top: 60%
      left: 30%
    .title
      max-width: 180px
      text-align: left
      margin-right: auto
      margin-left: 0
    .h2
      margin-right: auto
      margin-left: 0
      text-align: left
      max-width: 500px

    .jackpot
      font-size: 18px
    .ticket
      font-size: 12px

    .gain
      justify-content: flex-start
      p
        font-size: 14px
        &:first-child
          padding-right: 30px
        span
          font-size: 20px
    p
      text-align: left

    .input-group-rapid
      height: 245px
      form
        margin-top: 10px
        display: block
        box-shadow: none

        .input-orange
          border-color: $orange
          border-radius: 3px
          width: 100%
          font-size: 16px


        .button-orange
          background-color: $orange
          border-radius: 3px
          box-shadow: 0 4px 0 0 darken($orange, 10%)
          margin-top: 20px
          width: 100%
        .error
          top: 52px

      .thanks-rapid

        .refresh-reg-rapid
          width: 30px
          height: 30px
          line-height: 30px
          font-size: 30px
          margin-left: 10px
          margin-right: 10px
        p
          font-size: 16px
          max-width: 200px

  //Chain's Code
  .chain-code
    padding-bottom: 15px
    .circle-chain
      width: 90px
      height: 140px
    .circle-yellow
      width: 200px
      height: 200px
      top: 70%
      left: 10%
    .title
      max-width: 230px
    .h2
      max-width: 500px
    .chain-game
      background-image: url(../img/chcode.png)
      width: 290px
      height: 120px
      background-repeat: no-repeat
      background-size: contain
  
    .btns
      display: block
      p
        display: block
        margin: 18px auto 15px auto
        text-align: center
      .button
        width: 100%
        margin: 0

  // Pirate bay
  .pirate-bay
    padding-bottom: 40px
    .circle-bay
      width: 90px
      height: 140px
      transform: scaleX(-1)
      right: 0
      top: 0px
    .circle-yellow
      width: 200px
      height: 200px
    .title
      max-width: 180px
      text-align: left
      margin-right: auto
      margin-left: 0
    .h2
      margin-right: auto
      margin-left: 0
      text-align: left
      max-width: 500px
    .game-field
      background-image: url(../img/pbay.png)
      background-size: contain
      width: 200px
      height: 200px
      background-repeat: no-repeat
      margin-left: auto
      margin-right: auto
      margin-top: 20px
    .special
      margin-top: 0px
      padding-top: 20px
      margin-left: 0
      width: 100%
    .btns
      display: block
      & + p
        text-align: left
        margin-top: 20px
        font-size: 16px
      p
        display: block
        margin: 18px auto 15px auto
        text-align: center
      .button
        width: 100%
        margin: 0
      
  // Footer
  .footer
    min-height: 550px
    .circle
      left: 27%
    .top
      p
        &:first-of-type
          font-size: 30px
      .input-group-footer
        width: 100%
        form
          margin-top: 10px
          display: block
          box-shadow: none
          width: 100%
          .input-red
            border-color: $red
            border-radius: 3px
            width: 100%
            font-size: 16px
          .button-red
            background-color: $red
            border-radius: 3px
            box-shadow: 0 4px 0 0 darken($red, 10%)
            margin-top: 20px
            width: 100%
          .error
            top: 52px
        p.drawing
          font-size: 14px
        .thanks-footer
          .refresh-reg-footer
            width: 30px
            height: 30px
            line-height: 30px
            font-size: 30px
            margin-left: 10px
            margin-right: 10px
          p
            font-size: 16px
            max-width: 200px
          

    .bottom
      padding-top: 30px
      .icons
        width: 290px
        .icon
          width: 25px
          height: 25px
      p
        width: 290px

  // Modal
  .modal-content
    margin: 0
    .modal-top
      padding-top: 60px
      justify-content: center
      margin-right: auto
      margin-left: auto
      align-items: center
      p
        font-size: 16px
        padding-right: 0
        text-align: center
      .button-red
        margin-top: 0px
        margin-bottom: 20px
    .video
      padding-top: 20px
      iframe
        width: 290px
        height: 165px
    .reg-modal
      p
        font-size: 25px
      .input-group-modal
        width: 100%
        form
          margin-top: 10px
          display: block
          box-shadow: none
          width: 100%
          .input-red
            border-color: $red
            border-radius: 3px
            width: 100%
            font-size: 16px
          .button-red
            background-color: $red
            border-radius: 3px
            box-shadow: 0 4px 0 0 darken($red, 10%)
            margin-top: 20px
            width: 100%
          .error
            top: 52px
        p
          font-size: 16px
      .modal-bottom
        padding-top: 30px
        p
          font-size: 10px
          text-align: left
        .icon
          &.curacao
            margin-left: 10px
            margin-right: 10px
      .thanks-modal
        height: 200px
        p
          font-size: 16px




/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
