.mfp-close-btn-in
  .mfp-close
    width: 50px
    height: 50px
    line-height: 50px
    font-size: 50px
    background: none
    border: none
    color: $red
    position: absolute
    top: 20px
    right: 20px
    padding: 0

#animatedModal
  .modal-content
    background-color: #2B1848

#animatedMobile
  background-color: #2B1848

.mfp-content
  height: 100vh
.mfp-container
  padding: 0
  top: 0
  bottom: 0

.white-popup
  height: 100%

.modal-content
  width: 100%
  height: 100%
  .modal-top
    display: flex
    padding-top: 30px
    justify-content: flex-start
    align-items: center
    p
      font-family: "OksanaSans", serif
      font-size: 30px
      color: $yellow
      padding-right: 30px
    .button-red
      width: 200px
  .video
    display: flex
    justify-content: center
    iframe
      width: 978px
      height: 550px

.reg-modal
  padding-top: 80px
  .logo
    display: block
    text-align: center
    img
      height: 60px
      width: auto
  p:first-of-type
    font-family: "OksanaSans", sans-serif
    font-weight: bold
    font-size: 36px
    color: $yellow
    text-align: center
    padding-top: 50px
  .input-group-modal

    form
      display: flex
      margin-right: auto
      margin-left: auto
      width: 610px
      box-shadow: 0px 4px 0 0 darken($red, 10%)
      border-radius: 3px
      position: relative
      .input-red
        flex-grow: 5
        width: auto
        border-color: $red
        border-radius: 3px 0 0 3px
        margin: 0
        background-image: url(../img/lock-red.png)
        background-repeat: no-repeat
        background-size: 25 auto
        background-position: 95% center 
      .button-red
        flex-grow: 1
        width: auto
        background-color: $red
        border-radius: 0 3px 3px 0
        box-shadow: none
        padding: 0
        margin: 0
        &:focus, &:hover
          text-decoration: none
          color: #ffffff
        &:hover
          background-color: lighten($red, 5%)
          box-shadow: 0px 4px 0 0 lighten($red, 1%)
          
        &:active
          background-color: darken($red, 5%)
          box-shadow: 0px 4px 0 0 darken($red, 15%)
      .error
        position: absolute
        top: 60px
    p
      font-size: 20px
      color: $lightyellow
      padding-top: 20px
      font-weight: normal
      span
        font-weight: bold

  .modal-bottom
    display: flex
    width: 600px
    justify-content: center
    margin-left: auto
    margin-right: auto
    padding-top: 80px
    align-items: center
    p
      color: #B2B2B2
      font-size: 12px
      width: 600px
      padding-top: 10px
      font-family: "PT_Sans"
      font-weight: normal
      text-align: center
    
    .icon
      width: 50px
      height: 50px
      background-size: contain
      background-repeat: no-repeat
      background-position: center
      &.itech
        background-image: url(../img/itech.png)
      &.curacao
        background-image: url(../img/license.png)

  .thanks-modal
    height: 120px
    p
      font-family: "PT_Sans"
      color: white
      font-weight: normal
      font-size: 20px
      letter-spacing: 0.5px
      
.close-animatedMobile
  .close
    width: 50px
    height: 50px
    line-height: 50px
    font-size: 50px
    background: none
    border: none
    color: $red
    position: absolute
    top: 20px
    right: 20px
    padding: 0

.mobile-modal-content
  padding-top: 80px
  .logo
    display: block
    text-align: center
    img
      height: 60px
      width: auto

  p:first-of-type
    font-family: "OksanaSans", sans-serif
    font-weight: bold
    font-size: 30px
    color: $yellow
    text-align: center
    padding-top: 50px
  
  .input-group-mobile
    form
      position: relative
      .input-red
        font-size: 16px
      .button-red
        margin-top: 20px
      .error
        position: absolute
        top: 52px
    p
      font-size: 16px
      color: $lightyellow
      padding-top: 15px
      font-weight: normal
      span
        font-weight: bold

  .thanks-mobile
    p
      font-family: "PT_Sans"
      color: white
      font-weight: normal
      font-size: 20px
      letter-spacing: 0.5px

#pirate-modal
  position: relative
  .close-pirate-modal
    .close
      width: 50px
      height: 50px
      line-height: 50px
      font-size: 50px
      background: none
      border: none
      color: $red
      position: absolute
      top: 20px
      right: 20px
      padding: 0
      z-index: 10
  
#chain-modal
  //background-image: url(../img/cc_blured_bg.jpg)
  background-size: cover
  background-repeat: no-repeat
  background-color: $grey
  width: 100%
  height: 100%
  .close-chain-modal
    .close
      width: 50px
      height: 50px
      line-height: 50px
      font-size: 50px
      background: none
      border: none
      color: $red
      position: absolute
      top: 20px
      right: 20px
      padding: 0
      z-index: 10

.pb_game_wrapper
  height: 800px

.mfp-zoom-in
  /* animate in
  /* animate out
  .mfp-with-anim
    opacity: 0
    transition: all 0.2s ease-in-out
    transform: scale(0.8)
  &.mfp-bg
    opacity: 0
    transition: all 0.3s ease-out
  &.mfp-ready
    .mfp-with-anim
      opacity: 1
      transform: scale(1)
    &.mfp-bg
      opacity: 0.8
  &.mfp-removing
    .mfp-with-anim
      transform: scale(0.8)
      opacity: 0
    &.mfp-bg
      opacity: 0

.modal-custom-overlay
  z-index: 1
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  transition: opacity .2s
  background-color: $grey
  display: none
  opacity: 0
  &.modal-custom-overlay-open
    display: block
    opacity: 1