.game
  height: 800px
  .game-text
    display: none
    z-index: 2
    width: 160px
    height: 213px
    position: absolute
    left: -80px
    top: 430px
    font-size: 24px
    text-shadow: 2px 2px 5px #000000
    text-align: center
    strong
      color: #ffd16f
    span
      display: block
      line-height: 46px
      text-align: left
      font-size: 36px
    +media-breakpoint-up(md)
      display: block
  .powered-header
    font-size: 18px
    text-align: center
    img
      display: inline-block
      margin-left: 10px
      height: 23px
  .game_field
    background: none
    .game_header
      height: 188px
      padding: 80px 120px 0
      width: 525px
      margin-top: 0
      background: url(../img/field-head.png) no-repeat
      .game_balance
        div
          font-size: 0.8em
          line-height: 0.5
    .game_main_section
      background: url(../img/playing-field.png) no-repeat center -12px
      height: 0
      max-width: 355px
      margin: 0 auto
      overflow: hidden
      transition: height 1s cubic-bezier(0.9, 0.01, 0.35, 0.99)
      &.open
        height: 414px
      .game-form
        padding: 50px
        text-align: center
        .form-text
          font-size: 24px
          color: $accent
          font-weight: 700
        button
          width: 150px
      .game_draws
        margin: 0 auto
        padding: 20px 15px
        width: 320px
      .game_bet
        margin-top: 30px
    .game_play
      background: url(../img/playing-field-bottom.png) no-repeat center
      background-position-x: 55px
      width: 500px
      height: 150px
      margin: -24px auto 0
      button
        margin-left: -102px
        margin-top: -25px


  #playGame
    &.glowing
      animation: game-button
      animation-duration: 1s
      animation-delay: .5s
      animation-iteration-count: infinite
      animation-direction: alternate-reverse
      &:before
        animation: game-button-effect
        animation-duration: 1s
        animation-delay: .5s
        animation-iteration-count: infinite



@keyframes game-button
  from
    text-shadow: 0 0 0 #fdbb4d
  to
    text-shadow: 0 0 30px #fdbb4d

@keyframes game-button-effect
  from
    left: 250%
    opacity: .3
  to
    left: 0
    opacity: 0

.pb_game_wrapper
  position: relative
  height: 1411px
  +media-breakpoint-up(sm)
    height: 1700px
  +media-breakpoint-up(md)
    height: 1900px

.introjs-overlay
  background: radial-gradient(center,ellipse cover,rgba(0, 0, 0, 0.75) 0,rgba(0,0,0,.9) 100%)

.introjs-helperLayer
  background-color: transparent
  border-radius: 10px
  opacity: 0.58
  box-shadow: 0 0 3px 4px #009dd9
  animation: pulse 1.0s linear infinite

.introjs-tooltip, .or-take-prize-text
  text-align: center
  color: white
  border-radius: 10px
  background-color: #009dd9
  font-size: 24px
  box-shadow: none
  max-width: none
  padding: 23px 30px
  margin-bottom: 80px
  font-weight: 400
  strong
    color: $accent
    font-weight: 700
  .introjs-arrow
    background: transparent url(../img/tip-arrow.svg) no-repeat
    width: 55px
    height: 92px
    margin-bottom: -80px
    border: none
    left: 50%
    transform: translateX(-58%)
  &.without-arrow
    margin-top: -120px!important
    margin-bottom: auto
    .introjs-arrow
      display: none!important

.tooltip-7, .tooltip-7+.introjs-tooltipReferenceLayer
  height: 515px!important

.tooltip-7+.introjs-tooltipReferenceLayer
  .introjs-tooltip
    bottom: 530px!important

.tooltip-3
  transition: none
  &+.introjs-tooltipReferenceLayer
    transition: none
    .introjs-tooltip
      margin-top: -220px!important
      transform: translateY(37px)
      .introjs-arrow
        margin-bottom: -44px
        margin-top: 0
        z-index: -1
      >.introjs-arrow
        +media-breakpoint-only(xs)
          margin-top: -11px

.introjs-overlay
  transition: none



.introjs-tooltip
  margin-top: -270px!important
  top: auto!important
  .introjs-arrow
    display: block!important
    +media-breakpoint-down(md)
      margin-top: 22px

.game-play-real-game
  height: 215px
  display: flex
  flex-direction: column
  .play-real-game-btn
    margin-top: 50px
    white-space: normal
  .play-demo-game-btn
    height: 50%
    margin-top: 90px
    color: $accent
    font-size: 16px

.introJs-active
  .jq-selectbox
    z-index: 1

.or-take-prize-text
  z-index: 1
  position: absolute
  top: 278px
  left: 0
  right: 13px
  +media-breakpoint-between(xs, md)
    right: 0
    top: 239px
  .introjs-arrow
    margin-bottom: -44px
    z-index: -1
    position: absolute

