.pirate-bay
  background-color: $grey
  position: relative
  padding-bottom: 40px
  padding-top: 20px
  .circle-bay
    background-image: url(../img/pirate-bay.png)
    background-size: contain
    background-repeat: no-repeat
    width: 400px
    height: 631px
    position: absolute

  .container
    position: relative
    z-index: 10

  .circle-yellow
    background-image: url(../img/circle.png)
    width: 260px
    height: 260px
    background-size: contain
    background-repeat: no-repeat
    position: absolute
    top: 55%
    left: 35%
    z-index: 2
  
  .title
    text-align: right
  
  .h2
    text-align: right
    max-width: 700px
    margin-right: 0
    margin-left: auto
    span
      color: $blue

  .special
    margin-top: 30px
    margin-right: 0
    margin-left: auto
    width: 450px
    li
      &::before
        font-size: 48px
        margin-right: 10px
        vertical-align: middle
    li:first-child
      &::before
        content: '🏵'
    li:nth-child(2)
      &::before
        content: '💸'
    li:last-child
      &::before
        content: '💰'
  p
    text-align: right
    font-size: 24px
    display: inline-block
    margin-left: auto
    margin-right: 0
    width: 100%
    span
      font-weight: bold

  .btns
    display: flex
    align-items: center
    justify-content: flex-end
    margin-top: -80px
    p
      display: inline-block
      margin-left: 15px
      margin-right: 15px
      width: auto

    .button
      min-width: 230px
      &.button-blue
        background-color: $blue
        box-shadow: 0px 4px 0 0 darken($blue, 10%)
        color: white
        &:focus, &:hover
          text-decoration: none
          color: #ffffff
        &:hover
          background-color: lighten($blue, 5%)
          box-shadow: 0px 4px 0 0 lighten($blue, 1%)
          
        &:active
          background-color: darken($blue, 5%)
          box-shadow: 0px 4px 0 0 darken($blue, 15%)

      &.button-blue2
        background-color: transparent
        border: 4px solid $blue
        height: 58px
        color: $blue
        box-shadow: none
        line-height: 50px
        padding: 0
        vertical-align: center
        &:focus, &:hover
          text-decoration: none
          color: darken($blue, 5%)
          
        &:hover
          background-color: transparent
          border: 4px solid lighten($blue, 5%)
          color: lighten($blue, 5%)
          
        &:active
          background-color: tansparent
          border: 4px solid darken($blue, 5%)
          color: darken($blue, 5%)

  .pirate-game
    position: relative
    margin-right: 0
    margin-left: auto
    overflow: hidden
    width: 250px
    height: 375px
    video
      position: absolute
      left: 50%
      transform: translateX(-50%)
      width: 500px
      margin-top: 30px
        
