.rapid
  background-color: $grey
  position: relative
  padding-bottom: 40px
  padding-top: 20px

  .container
    position: relative
    z-index: 10
  
  .circle-moon
    background-image: url(../img/rapid.png)
    background-size: contain
    background-repeat: no-repeat
    width: 400px
    height: 631px
    position: absolute
    top: -50px

  .circle-yellow
    background-image: url(../img/circle.png)
    width: 260px
    height: 260px
    background-size: contain
    background-repeat: no-repeat
    position: absolute
    top: 60%
    left: 60%
    z-index: 2
    
  p
    text-align: right
  .jackpot
    font-size: 24px
  .ticket
    font-size: 14px
    color: #838383
    padding-bottom: 10px
    margin: 0

  .h2
    text-align: right
    span
      color: $lilac

  .gain
    display: flex
    margin-bottom: 50px
    margin-top: 50px
    justify-content: flex-end
    
    p
      display: block
      font-size: 24px
      text-align: center
      color: $black
      margin: 0
      &:first-child
        padding-right: 50px
      span
        font-size: 48px
        font-weight: bold
        color: $lilac
        display: block

  .input-group-rapid
    height: 156px
    form
      margin: 0
      margin-left: auto
      margin-bottom: 10px
      padding: 0
      display: flex
      box-shadow: 0px 4px 0 0 darken($orange, 10%)
      margin-bottom: 15px
      border-radius: 3px
      justify-content: flex-end
      max-width: 620px
      width: 100%
      position: relative
    
      .input-orange
        flex-grow: 5
        border-color: $orange
        border-radius: 3px 0 0 3px
        margin: 0
        background-image: url(../img/lock-orange.png)
        background-repeat: no-repeat
        background-size: 25 auto
        background-position: 95% center
      
      .button-orange
        flex-grow: 1
        background-color: $orange
        border-radius: 0 3px 3px 0
        box-shadow: none
        padding: 0
        margin: 0
        &:focus, &:hover
          text-decoration: none
          color: #ffffff
        &:hover
          background-color: lighten($orange, 5%)
          box-shadow: 0px 4px 0 0 lighten($orange, 1%)
          
        &:active
          background-color: darken($orange, 5%)
          box-shadow: 0px 4px 0 0 darken($orange, 15%)
      .error
        position: absolute
        top: 60px
        left: 0
    
    .thanks-rapid
      display: flex
      flex-direction: column
      .refresh-reg-rapid
        width: 40px
        height: 40px
        line-height: 40px
        font-size: 40px
        background: none
        border: none
        color: $orange
        padding: 0
        transition: transform .1s ease, color .1s ease
        margin-right: 0
        margin-left: auto
        background-image: url(../img/circle.png)
        background-size: contain
        background-repeat: no-repeat
        &:hover
          transform: rotate(85deg)
        &:active
          color: darken($orange, 5%)
      p
        font-family: "PT_Sans"
        color: $black
        font-weight: normal
        font-size: 20px
        letter-spacing: 0.5px
        padding-top: 10px