@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $darkyellow
	color: #fff

::-webkit-validation-bubble
  visibility: hidden
html
  overflow-x: hidden
body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: $default-font
	overflow-x: hidden
	color: $text
  background-color: $grey
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: $red


  
.error
  font-size: 14px
  color: lighten($red, 25%) 
  font-family: "PT_Sans", sans-serif
  text-align: left
  visibility: hidden
  display: block

input:required:invalid:focus + .error
  visibility: visible


.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

.h2
  line-height: 1.4

.growl.growl-default
  background-color: #fff
  box-shadow: 0 2px 4px 0 #404040
  display: flex
  flex-direction: column
  position: relative
  &::before
    content: '⭐️'
    font-size: 36px
    display: block
    position: absolute
    top: 10px
  .growl-title
    color: black
    margin-left: 50px
  .growl-message
    color: #8C8C8C
    margin-left: 50px
  .growl-close
    display: none

.game_section
  .sound
    top: 90px

#noty_layout__topRight
  position: absolute
  .noty_theme__mint.noty_type__success
    background-color: rgba(#fff, 0.8)
    border-color: none
    border-radius: 5px
    box-shadow: 1px 1px 5px 0 lighten(black, 50%)
    .noty_body
      .notify
        display: flex
        flex-direction: column
        justify-content: center
        position: relative
        &::before
          content: '⭐️'
          font-size: 36px
          display: block
          position: absolute
      .notify-title
        margin-bottom: 10px
        font-size: 18px
        color: black
        margin-left: 50px
        margin-top: 0px
      .notify-message
        margin-bottom: 0
        color: #8C8C8C
        margin-left: 50px

.jq-selectbox__select
  opacity: 1

#pirate-modal
  .pb_game_wrapper
    background: none
  .game_section
    background-image: url(../img/pb_game_bg.jpg)
    background-repeat: no-repeat
    background-size: cover
  .par_stones, .par_flip, .par_sharks, .bubble

#chain-modal
  .game_section
    background-image: url(../img/cc_blured_bg.jpg)
    background-size: cover
    background-repeat: no-repeat
    

@import "header"
@import "flip"
@import "rapid"
@import "chains"
@import "pirate"
@import "footer"
@import "animation"
@import "modal"
@import "media" // Always at the end